In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Please upload the file titanic_train.csv to your environment
data = pd.read_csv('/content/drive/MyDrive/CURR-v3.X-JAN2023/UNIT7/DAY2/7.04 inferential statistics/titanic_train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
#Sample 30 passengers from 3rd class
# random_state=13, random.seed()
c3_sample = data[data['Pclass']==3]['Fare'].sample(30, random_state=1)
c3_sample.head(30)

642    27.9000
171    29.1250
280     7.7500
354     7.2250
590     7.1250
279    20.2500
869    11.1333
293     8.8500
57      7.2292
589     8.0500
107     7.7750
132    14.5000
469    19.2583
408     7.7750
875     7.2250
579     7.9250
657    15.5000
569     7.8542
267     7.7750
379     7.7750
876     9.8458
49     17.8000
656     7.8958
509    56.4958
348    15.9000
205    10.4625
568     7.2292
790     7.7500
231     7.7750
554     7.7750
Name: Fare, dtype: float64

In [19]:
#display(data[data['Pclass']==3]['Fare'].mean())
display(c3_sample.mean()) 
# your value for the mean may be diffrent from the teacher's, and this may affect the p-value

12.897636666666664

In [20]:
#Hypothesis: H0: mean fare in 3rd class was 17
#            H1: mean fare in 3rd class != 17
#compute statistics and p-value
st.ttest_1samp(c3_sample, 17)

TtestResult(statistic=-2.1975340342817073, pvalue=0.03611984172613502, df=29)

In [21]:
#for the single tailed experiment
# H0: mean fare in 3rd class was >= 17
# H1: mean fare in 3rd class < 17
print('p value (single tailed): ',st.ttest_1samp(c3_sample,17, alternative="less")[1]/2)

p value (single tailed):  0.009029960431533755

Note different samples may produce different results, leading to a different decision on the hypothesis.

## Activity 1

In [ ]:
#check if 1st class prices are different from 85 usd by sampling 30 1st class passengers and requiring a 0.05 significance.

In [ ]:
#answer
#H0: Price in 1st class = 85
#H1: Price in 1st class <> 85
c1_sample = data[data['Pclass']==1]['Fare'].sample(30)
st.ttest_1samp(c1_sample,85)

Ttest_1sampResult(statistic=0.4282639520099005, pvalue=0.6716230418357456)

# Matched pairs

In [ ]:
#Example: Matched Pair.
#The data in the two samples is dependent. In the data we are studying the blood pressure before and after the treatment.

In [22]:
blood_pressure = pd.read_csv('/content/drive/MyDrive/CURR-v3.X-JAN2023/UNIT7/DAY2/7.04 inferential statistics/blood_pressure.csv')
blood_pressure.head()

       before       after
0  136.713072   92.432965
1  134.735618  105.022643
2  127.529115   82.242766
3  144.527126   93.607172
4  124.214720  103.212223

In [23]:
st.ttest_rel(blood_pressure['after'], blood_pressure['before'])

TtestResult(statistic=-27.29184176756024, pvalue=7.303035069607835e-48, df=99)

$$H0: \mu_{1} = \mu_{2}; \mu_{1}-\mu{2}=0$$
$$H1: \mu_{1} \neq \mu_{2}; \mu_{1}-\mu{2}\neq 0 $$

In [ ]:
# We reject the null hypothesis. p_value <<< 0.05

In [ ]:
# P_value = P(S|H0=True), H0: No effect -> mean_blood_preasure_after = mean_blood_preasure_before

In [ ]:
#negative statistic means \mu_after-\mu_before < 0   ---->  \mu_after < \mu_before

# Pooled samples / independent samples

In [ ]:
#Independent Samples
#For two groups where we cannot match the observations to one another.
#In this case transactions from a website with different interfaces (a, b)

In [24]:
ab_test = pd.read_csv('/content/drive/MyDrive/CURR-v3.X-JAN2023/UNIT7/DAY2/7.04 inferential statistics/ab_test.csv')
ab_test.head()

       a      b
0   0.27  13.61
1   6.08  21.53
2  13.74   9.23
3   9.70   5.36
4   7.00  12.90

In [25]:
st.ttest_ind(ab_test['a'], ab_test['b'], equal_var=False) # if we don't assume equal variance the test will be more robust

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009776243024828825)

In [ ]:
#negative statistic means \mu_a-\mu_b < 0   ---->  \mu_a < \mu_b

# ANOVA

In [ ]:
#ANOVA test
#to compare the means of multiple groups at the same time
#why not just multiple t-tests?

In [26]:
interest_r = pd.read_csv('/content/drive/MyDrive/CURR-v3.X-JAN2023/UNIT7/DAY2/7.04 inferential statistics/rate_by_city.csv')
interest_r.head(60)

     Rate  City
0   13.75     1
1   13.75     1
2   13.50     1
3   13.50     1
4   13.00     1
5   13.00     1
6   13.00     1
7   12.75     1
8   12.50     1
9   14.25     2
10  13.00     2
11  12.75     2
12  12.50     2
13  12.50     2
14  12.40     2
15  12.30     2
16  11.90     2
17  11.90     2
18  14.00     3
19  14.00     3
20  13.51     3
21  13.50     3
22  13.50     3
23  13.25     3
24  13.00     3
25  12.50     3
26  12.50     3
27  15.00     4
28  14.00     4
29  13.75     4
30  13.59     4
31  13.25     4
32  12.97     4
33  12.50     4
34  12.25     4
35  11.89     4
36  14.50     5
37  14.00     5
38  14.00     5
39  13.90     5
40  13.75     5
41  13.25     5
42  13.00     5
43  12.50     5
44  12.45     5
45  13.50     6
46  12.25     6
47  12.25     6
48  12.00     6
49  12.00     6
50  12.00     6
51  12.00     6
52  11.90     6
53  11.90     6

In [27]:
interest_r.groupby(['City']).agg({"Rate":np.mean})

           Rate
City
1     13.194444
2     12.611111
3     13.306667
4     13.244444
5     13.483333
6     12.200000

In [29]:
interest_r['city_count'] = interest_r.groupby('City').cumcount() ##is the new index 
#interest_r
interest_r_pivot = interest_r.pivot(index='city_count', columns='City', values='Rate')
#interest_r_pivot
interest_r_pivot.columns = ['City_'+str(x) for x in interest_r_pivot.columns.values]
interest_r_pivot.head(10)

            City_1  City_2  City_3  City_4  City_5  City_6
city_count
0            13.75   14.25   14.00   15.00   14.50   13.50
1            13.75   13.00   14.00   14.00   14.00   12.25
2            13.50   12.75   13.51   13.75   14.00   12.25
3            13.50   12.50   13.50   13.59   13.90   12.00
4            13.00   12.50   13.50   13.25   13.75   12.00
5            13.00   12.40   13.25   12.97   13.25   12.00
6            13.00   12.30   13.00   12.50   13.00   12.00
7            12.75   11.90   12.50   12.25   12.50   11.90
8            12.50   11.90   12.50   11.89   12.45   11.90

In [30]:
interest_r_pivot.mean()

City_1    13.194444
City_2    12.611111
City_3    13.306667
City_4    13.244444
City_5    13.483333
City_6    12.200000
dtype: float64

In [31]:
# H0 for ANOVA is always that the means of the various groups are the same
# H1 is that they are not the same
st.f_oneway(interest_r_pivot.City_1,interest_r_pivot.City_2,interest_r_pivot.City_3,interest_r_pivot.City_4,interest_r_pivot.City_5,interest_r_pivot.City_6)

F_onewayResult(statistic=4.8293848737024, pvalue=0.001174551414504048)

In [ ]:
interest_r_pivot.mean()

City_1    13.194444
City_2    12.611111
City_3    13.306667
City_4    13.244444
City_5    13.483333
City_6    12.200000
dtype: float64