In [379]:
import pandas as pd  # keywords are highlighted in green, other strings in red, etc.
import numpy as np

In [380]:
#!pip install --upgrade pandas
#!conda install pandas

In [381]:
pd.__version__

'1.3.5'

In [382]:
np.__version__

'1.21.6'

In [383]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [384]:
# Reading data into a DataFrame # read_csv("data/file1.csv")
file1 = pd.read_csv('/content/drive/MyDrive/CURR-v3.X-MAR2023/UNIT1/DAY2/1.03 Intro libraries Numpy and Pandas/file1.csv')
print(type(file1))
display(file1.head())
display(file1.tail())
print(file1.shape) # Attribute

<class 'pandas.core.frame.DataFrame'>

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

(1007, 17)

In [385]:
file1

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [386]:
file2 = pd.read_csv('/content/drive/MyDrive/CURR-v3.X-MAR2023/UNIT1/DAY2/1.03 Intro libraries Numpy and Pandas/file2.txt')  
file2.head() # what is happening?

  CONTROLN\tSTATE\tGENDER\tHV1\tIC1\tIC4\tHVP1\tIC5\tPOBC1\tPOBC2\tIC2\tIC3\tAVGGIFT\tTCODE\tDOB\tDOMAIN\tTARGET_D
0  190579\tCA\tM\t3200\t310\t343\t83\t17224\t31\t...
1  42997\tFL\tF\t1567\t392\t409\t27\t18631\t4\t10...
2  132896\tOR\tF\t953\t319\t455\t1\t15729\t3\t45\...
3  120189\tTX\tM\t492\t244\t301\t3\t10818\t0\t92\...
4  138829\tAZ\tfeamale\t847\t185\t308\t0\t11582\t...

In [387]:
file2 = pd.read_csv('/content/drive/MyDrive/CURR-v3.X-MAR2023/UNIT1/DAY2/1.03 Intro libraries Numpy and Pandas/file2.txt', sep='\t') # | \ / , \t
file2.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0

In [388]:
file1.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [389]:
# Data blending
column_names = file1.columns
column_names

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [390]:
data = pd.concat([file1, file2], axis=0) #discuss axis here
print(data.shape)
display(data)

(2022, 17)

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684.0,36,29098,7,19,586.0,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540.0,1,16623,5,68,529.0,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295.0,0,12713,9,12,221.0,276,12.857143,0,0,C2,12.0

In [391]:
print(file1.shape)
print(file2.shape)

(1007, 17)
(1015, 17)

In [392]:
file1.shape[0] + file2.shape[0]

2022

In [393]:
weird_data = pd.concat([file1, file2], axis=1) #axis wrong
weird_data

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,...,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060.0,FL,M,AAA896,392.0,520.0,7.0,21975,6.0,16.0,...,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,96093.0,IL,M,537.00,365.0,473.0,0.0,19387,1.0,89.0,...,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,43333.0,FL,F,725.00,301.0,436.0,3.0,18837,11.0,17.0,...,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,21885.0,NC,M,AAA1095,401.0,413.0,7.0,14014,1.0,74.0,...,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,190108.0,FL,F,995.00,252.0,348.0,0.0,17991,5.0,6.0,...,11582,3,20,238,225,11.500000,28,3601,T2,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29098,7,19,586,551,9.769231,2,1403,S1,20.0
1013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16623,5,68,529,506,5.200000,0,0,T2,5.0
1014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12713,9,12,221,276,12.857143,0,0,C2,12.0

In [394]:
data.columns[-1].lower()

'target_d'

In [395]:
s = "My string"
print("String displayed in lowercase: ",s.lower())
print("Original string: ",s)
s = s.lower()
print("Finally modifed string: ",s)

String displayed in lowercase:  my string
Original string:  My string
Finally modifed string:  my string

In [396]:
display(data)

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684.0,36,29098,7,19,586.0,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540.0,1,16623,5,68,529.0,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295.0,0,12713,9,12,221.0,276,12.857143,0,0,C2,12.0

In [397]:
len(data.columns)

17

In [398]:
data.shape[1]

17

In [399]:
range(17)

range(0, 17)

In [400]:
my_list = [1,2,3]
for i in range(len(my_list)):
    print(my_list[i])

1
2
3

In [401]:
cols = [] # list to store the new columns names
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower())
data.columns = cols

# alternative for using range(len(list)) in the for loop:
cols = []
for column in data.columns:
    cols.append(column.lower())
data.columns = cols

# renaming only some columns
data = data.rename(columns={'controln':'id',
                            'hv1':'median_home_val', 
                            'ic1':'median_household_income'})
data.head()
# #data.shape

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

In [402]:
" ".join(list(file1.columns))

'CONTROLN STATE GENDER HV1 IC1 IC4 HVP1 IC5 POBC1 POBC2 IC2 IC3 AVGGIFT TCODE DOB DOMAIN TARGET_D'

In [403]:
file1.columns == file2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [404]:
np.sum(file1.columns == file2.columns)

17

In [405]:
#Activity 1
# some students might get error saying that optional dependency openpyxl is missing
# in that case, use the following line (in terminal):
#pip install openpyxl  (or pip3 ... if you're on a Mac)
#import pandas as pd

#file3 = pd.read_excel('file3.xlsx')
file3 = pd.read_excel("/content/drive/MyDrive/CURR-v3.X-MAR2023/UNIT1/DAY2/1.03 Intro libraries Numpy and Pandas/file3.xlsx", engine="openpyxl")
file4 = pd.read_excel('/content/drive/MyDrive/CURR-v3.X-MAR2023/UNIT1/DAY2/1.03 Intro libraries Numpy and Pandas/file4.xlsx', engine="openpyxl")

display(file3.columns)
display(file4.columns)

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [406]:
file3.columns == file4.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [407]:
file3.columns == data.columns

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False])

In [408]:
data.columns

Index(['id', 'state', 'gender', 'median_home_val', 'median_household_income',
       'ic4', 'hvp1', 'ic5', 'pobc1', 'pobc2', 'ic2', 'ic3', 'avggift',
       'tcode', 'dob', 'domain', 'target_d'],
      dtype='object')

In [409]:
file3.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,0,R3,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0

In [410]:


cols1=[]
for c in file3.columns:
    cols1.append(c.lower())
file3.columns=cols1

# Similarly for the other dataframe:
cols2=[]
for c in file4.columns:
    cols2.append(c.lower())
file4.columns=cols2

file3 = file3.rename(columns={ 'controln':'id','hv1':'median_home_val', 'ic1':'median_household_income'})
file4 = file4.rename(columns={ 'controln':'id','hv1':'median_home_val', 'ic1':'median_household_income'})

In [411]:
file3.head()
#End of Activity 1

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,0,R3,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0

In [412]:
data.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

In [413]:
list(pd.read_csv("/content/drive/MyDrive/CURR-v3.X-MAR2023/UNIT1/DAY2/1.03 Intro libraries Numpy and Pandas/file1.csv").index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [414]:
# df.loc[row_labels, colum_labels]
# df.iloc[row_indexes, column_indexes]

In [415]:
#data.loc[:,["gender","id"]]
#data.iloc[:,[2,0]]
#data.iloc[:,["gender",0]]
data.loc[0,["gender","id"]]
#data.iloc[:,[2,0]]

  gender      id
0      M   44060
0      M  190579

In [416]:
# reset the row indexes to avoid having two rows with the same number
# without drop = False regenerates row numbers, a new column named "index" will be added
# to the dataframe wit the old row numbers.
# with drop = True regenerates row numbers without an additional column
# way 1
data = data.reset_index(drop = True)

In [417]:
data.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

In [418]:
#slicing
# Loc works with labels
data.loc[0:3,["id","state"]]

      id state
0  44060    FL
1  96093    IL
2  43333    FL
3  21885    NC

In [419]:
#slicing
data.loc[[0,1,2],:]
# data.head(3)

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0

In [420]:
#slicing
data.loc[:,['id','state']]

          id state
0      44060    FL
1      96093    IL
2      43333    FL
3      21885    NC
4     190108    FL
...      ...   ...
2017  161838    CA
2018  161838    CA
2019  138311    AZ
2020  123469    TX
2021  135341    AZ

[2022 rows x 2 columns]

In [421]:
#slicing shortcut
data[['id','state']] # data.loc[:,['id','state']]

          id state
0      44060    FL
1      96093    IL
2      43333    FL
3      21885    NC
4     190108    FL
...      ...   ...
2017  161838    CA
2018  161838    CA
2019  138311    AZ
2020  123469    TX
2021  135341    AZ

[2022 rows x 2 columns]

In [422]:
#also useful to reorder columns
data[['state','id']]

     state      id
0       FL   44060
1       IL   96093
2       FL   43333
3       NC   21885
4       FL  190108
...    ...     ...
2017    CA  161838
2018    CA  161838
2019    AZ  138311
2020    TX  123469
2021    AZ  135341

[2022 rows x 2 columns]

In [423]:
#data = data[[data.colummns[-1],data.columns[:-1]]]

In [424]:
data.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

In [425]:
#another shortcut
data[['gender']]

      gender
0          M
1          M
2          F
3          M
4          F
...      ...
2017       F
2018       F
2019  Female
2020       M
2021  Female

[2022 rows x 1 columns]

In [426]:
type(data[['gender']])

pandas.core.frame.DataFrame

In [427]:
data['gender']

0            M
1            M
2            F
3            M
4            F
         ...
2017         F
2018         F
2019    Female
2020         M
2021    Female
Name: gender, Length: 2022, dtype: object

In [428]:
type(data['gender'])

pandas.core.series.Series

In [429]:
data['gender']

0            M
1            M
2            F
3            M
4            F
         ...
2017         F
2018         F
2019    Female
2020         M
2021    Female
Name: gender, Length: 2022, dtype: object

In [430]:
#watch out for mutability
just_gender = data['gender']
just_gender[1012]
#just_gender

'M'

In [431]:
just_gender[1012] = 'F'
just_gender[1012]

<ipython-input-431-4840fd8eadd8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  just_gender[1012] = 'F'

'F'

In [432]:
data['gender'].value_counts()

F          983
M          760
male        60
female      46
U           36
Female      24
Male        15
feamale     15
J           13
Name: gender, dtype: int64

In [433]:
#whoah!
data

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
2018,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
2019,138311,AZ,Female,1708,437,684.0,36,29098,7,19,586.0,551,9.769231,2,1403,S1,20.0
2020,123469,TX,M,561,493,540.0,1,16623,5,68,529.0,506,5.200000,0,0,T2,5.0
2021,135341,AZ,Female,700,205,295.0,0,12713,9,12,221.0,276,12.857143,0,0,C2,12.0

In [434]:
#just_gender_copied1 = data['gender'] # the same with other name
#just_gender_copied = data['gender'].copy() # independent copy

In [435]:
just_gender_copied = data['gender'].copy()
just_gender_copied[1014]

'F'

In [436]:
just_gender_copied[1014] = 'F'
just_gender_copied

0            M
1            M
2            F
3            M
4            F
         ...
2017         F
2018         F
2019    Female
2020         M
2021    Female
Name: gender, Length: 2022, dtype: object

In [437]:
data.loc[1014,"gender"]

'F'

In [438]:
#Now we have what we want:
data

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
2018,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
2019,138311,AZ,Female,1708,437,684.0,36,29098,7,19,586.0,551,9.769231,2,1403,S1,20.0
2020,123469,TX,M,561,493,540.0,1,16623,5,68,529.0,506,5.200000,0,0,T2,5.0
2021,135341,AZ,Female,700,205,295.0,0,12713,9,12,221.0,276,12.857143,0,0,C2,12.0

In [439]:
data[['gender','id','state']]

      gender      id state
0          M   44060    FL
1          M   96093    IL
2          F   43333    FL
3          M   21885    NC
4          F  190108    FL
...      ...     ...   ...
2017       F  161838    CA
2018       F  161838    CA
2019  Female  138311    AZ
2020       M  123469    TX
2021  Female  135341    AZ

[2022 rows x 3 columns]

In [440]:
data[['gender']+['id']+['state','ic4']]

      gender      id state    ic4
0          M   44060    FL  520.0
1          M   96093    IL  473.0
2          F   43333    FL  436.0
3          M   21885    NC  413.0
4          F  190108    FL  348.0
...      ...     ...   ...    ...
2017       F  161838    CA  380.0
2018       F  161838    CA  380.0
2019  Female  138311    AZ  684.0
2020       M  123469    TX  540.0
2021  Female  135341    AZ  295.0

[2022 rows x 4 columns]

In [441]:
data[[data.columns[1]]]

     state
0       FL
1       IL
2       FL
3       NC
4       FL
...    ...
2017    CA
2018    CA
2019    AZ
2020    TX
2021    AZ

[2022 rows x 1 columns]

In [442]:
list(data.columns[3:])

['median_home_val',
 'median_household_income',
 'ic4',
 'hvp1',
 'ic5',
 'pobc1',
 'pobc2',
 'ic2',
 'ic3',
 'avggift',
 'tcode',
 'dob',
 'domain',
 'target_d']

In [443]:
#data[['state']]
#[data.columns[1]]
data[[data.columns[1]]+[data.columns[0]]+list(data.columns[3:])]
#data[[list(data.columns)[1]]+list(data.columns)[:1]+[list(data.columns)[2:]]]

,state,id,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,FL,44060,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,IL,96093,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,FL,43333,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,NC,21885,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,FL,190108,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,CA,161838,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
2018,CA,161838,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
2019,AZ,138311,1708,437,684.0,36,29098,7,19,586.0,551,9.769231,2,1403,S1,20.0
2020,TX,123469,561,493,540.0,1,16623,5,68,529.0,506,5.200000,0,0,T2,5.0
2021,AZ,135341,700,205,295.0,0,12713,9,12,221.0,276,12.857143,0,0,C2,12.0

In [444]:
#operations between columns
#% income donated
data['target_d']/data['median_household_income']

0       0.255102
1       0.019178
2       0.016611
3       0.094763
4       0.019841
          ...
2017    0.046053
2018    0.046053
2019    0.045767
2020    0.010142
2021    0.058537
Length: 2022, dtype: float64

In [445]:
#new columns
data['percent_income_donated'] = data['target_d']/data['median_household_income']
data.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d,percent_income_donated
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0,0.255102
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0,0.019178
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0,0.016611
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0,0.094763
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0,0.019841

In [446]:
#boolean masks
data['very_generous'] = data['percent_income_donated']>0.25
data.head(17)

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d,percent_income_donated,very_generous
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0,0.255102,True
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0,0.019178,False
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0,0.016611,False
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0,0.094763,False
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0,0.019841,False
5,100640,IL,M,764.00,457,501.0,1,16022,2,75,477.0,480,25.571429,1,6104,S2,30.0,0.065646,False
6,18581,NC,female,775.00,318,419.0,5,13491,0,73,364.0,380,4.625000,0,4407,R2,12.0,0.037736,False
7,119038,TX,M,890.00,519,560.0,0,17872,2,46,525.0,551,6.175000,1002,0,C1,7.0,0.013487,False
8,173223,CA,F,NaN,184,250.0,0,8708,2,63,206.0,235,8.818182,0,1801,T2,10.0,0.054348,False
9,157988,CA,F,AAA2294,593,617.0,61,17838,7,62,NaN,619,6.666667,28,0,S1,10.0,0.016863,False
10,141720,NV,F,1569,673,781.0,22,25775,3,44,672.0,785,13.000000,28,5401,T1,5.0,0.007429,False
11,186272,CA,F,3515,521,588.0,97,20068,11,54,565.0,549,8.640000,2,3401,U1,10.0,0.019194,False
12,154301,Cali,F,1026,459,496.0,1,13803,12,52,470.0,491,11.250000,2,2801,T2,10.0,0.021786,False
13,189722,AP,Male,0,0,0.0,0,0,0,0,0.0,0,5.727273,1,0,0,6.0,inf,True
14,188304,KS,F,376,263,316.0,0,10755@,1,75,303.0,287,10.550000,0,2405,T2,10.0,0.038023,False
15,73699,MI,NaN,890,463,523.0,1,9493,5,53,474.0,512,11.285714,1,5102,S1,15.0,0.032397,False
16,31977,FL,F,1513,521,702.0,31,28124,3,24,599.0,615,18.500000,2,2701,T1,28.0,0.053743,False

In [447]:
#filtering!
data[data['very_generous']==True]

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d,percent_income_donated,very_generous
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0,0.255102,True
13,189722,AP,Male,0,0,0.0,0,0,0,0,0.0,0,5.727273,1,0,0,6.0,inf,True
71,188547,Cali,M,0,0,0.0,0,0,0,0,0.0,0,20.260870,1,0,U4,25.0,inf,True
211,120115,TX,M,274,154,256.0,1,8881,6,84,214.0,199,40.875000,1,701,R3,200.0,1.298701,True
366,178290,WA,male,0,0,0.0,0,0,0,0,0.0,0,5.375000,1,0,S1,6.0,inf,True
581,6006,CO,F,947,300,469.0,3,17986,2,43,360.0,342,85.000000,0,1602,C1,100.0,0.333333,True
587,97552,IL,F,226,183,263.0,0,8763,1,54,288.0,228,14.000000,0,2801,C3,50.0,0.273224,True
631,53151,TN,M,345,159,277.0,0,9775,0,85,197.0,233,20.000000,0,0,R3,40.0,0.251572,True
646,168574,California,M,1749,234,327.0,21,14571,15,49,281.0,291,27.500000,1,0,U3,100.0,0.427350,True
717,78199,WI,male,0,0,0.0,0,0,0,0,0.0,0,9.700000,1,4610,C1,15.0,inf,True
752,110291,LA,M,0,0,0.0,0,0,0,0,0.0,0,9.471250,1,0,C3,12.0,inf,True
771,11991,LA,M,0,0,0.0,0,0,0,0,0.0,0,17.000000,1,0,C3,25.0,inf,True
846,12573,WA,F,1375,285,443.0,6,18247,7,41,510.0,330,63.035714,0,803,0,102.0,0.357895,True
909,13188,IN,F,679,236,328.0,1,6997,0,91,247.0,304,47.181818,0,5001,R3,100.0,0.423729,True
963,133491,ID,M,679,298,360.0,1,10779,3,37,327.0,332,46.333333,1002,0,T2,100.0,0.335570,True
986,27846,GA,NaN,1149,420,509.0,14,17492,2,58,460.0,469,23.333333,0,0,C2,200.0,0.476190,True
1044,109514,LA,M,0,0,0.0,0,0,0,0,0.0,0,5.666667,0,3601,T2,6.0,inf,True
1079,156457,CA,F,0,0,0.0,0,0,0,0,0.0,0,15.000000,0,5308,U2,25.0,inf,True
1158,164513,AE,F,0,0,0.0,0,0,0,0,0.0,0,12.500000,0,4701,C1,50.0,inf,True
1272,107298,NE,F,0,0,0.0,0,0,0,0,0.0,0,38.000000,0,4401,S2,43.0,inf,True
1274,117383,TX,F,0,0,0.0,0,0,0,0,0.0,0,15.000000,2,4801,S2,21.0,inf,True
1307,67712,MI,F,459,116,533.0,0,19070,3,41,518.0,280,27.423077,0,801,U2,100.0,0.862069,True
1329,96763,IL,F,427,71,253.0,0,6671,1,72,141.0,121,10.750000,2,1805,C2,20.0,0.281690,True
1333,111592,AR,M,318,53,152.0,0,3748,9,83,105.0,113,17.454545,1,2109,C3,16.0,0.301887,True
1345,92802,IL,M,0,0,0.0,0,0,0,0,0.0,0,11.333333,1,4210,U1,10.0,inf,True
1415,137592,Arizona,M,0,0,0.0,0,0,0,0,0.0,0,17.500000,1,1201,C3,25.0,inf,True
1425,114208,OK,M,393,195,221.0,0,10232,1,65,212.0,222,15.555556,0,3401,T3,50.0,0.256410,True
1486,154202,CA,F,810,180,264.0,2,12413,15,32,214.0,217,12.833333,0,0,T2,50.0,0.277778,True
1646,45551,FL,NaN,0,0,0.0,0,0,0,0,0.0,0,12.500000,2,0,S3,15.0,inf,True
1706,24030,SC,F,383,76,180.0,0,5990,0,78,134.0,135,12.200000,0,3306,T3,20.0,0.263158,True
1924,58597,KY,M,295,155,223.0,0,8290,1,81,161.0,199,25.111111,1,1707,T3,50.0,0.322581,True
2000,176053,OR,M,0,0,0.0,0,0,0,0,0.0,0,9.000000,1,4210,U3,12.0,inf,True

In [448]:
#filtering!
data[data['target_d']==100]

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d,percent_income_donated,very_generous
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0,0.255102,True
581,6006,CO,F,947,300,469.0,3,17986,2,43,360.0,342,85.000000,0,1602,C1,100.0,0.333333,True
646,168574,California,M,1749,234,327.0,21,14571,15,49,281.0,291,27.500000,1,0,U3,100.0,0.427350,True
713,185052,TX,M,2442,641,931.0,75,38212,2,48,993.0,764,89.444444,1,5001,U1,100.0,0.156006,False
909,13188,IN,F,679,236,328.0,1,6997,0,91,247.0,304,47.181818,0,5001,R3,100.0,0.423729,True
963,133491,ID,M,679,298,360.0,1,10779,3,37,327.0,332,46.333333,1002,0,T2,100.0,0.335570,True
1307,67712,MI,F,459,116,533.0,0,19070,3,41,518.0,280,27.423077,0,801,U2,100.0,0.862069,True
1613,147841,CA,F,5626,1023,1051.0,98,62324,20,40,1109.0,969,30.750000,0,1706,S1,100.0,0.097752,False
1772,26378,GA,NaN,1153,562,629.0,8,22327,6,41,583.0,609,50.000000,0,3701,T1,100.0,0.177936,False
1896,108115,LA,M,801,487,550.0,0,15880,7,73,523.0,509,13.272727,1,3511,S1,100.0,0.205339,False

In [449]:
#combining filters and, or
#filtering! The "AND" operator is "&". The "OR" is "|", NOT is ~
data[(data['target_d']==100) & (data['very_generous'] == True) ]

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d,percent_income_donated,very_generous
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0,0.255102,True
581,6006,CO,F,947,300,469.0,3,17986,2,43,360.0,342,85.000000,0,1602,C1,100.0,0.333333,True
646,168574,California,M,1749,234,327.0,21,14571,15,49,281.0,291,27.500000,1,0,U3,100.0,0.427350,True
909,13188,IN,F,679,236,328.0,1,6997,0,91,247.0,304,47.181818,0,5001,R3,100.0,0.423729,True
963,133491,ID,M,679,298,360.0,1,10779,3,37,327.0,332,46.333333,1002,0,T2,100.0,0.335570,True
1307,67712,MI,F,459,116,533.0,0,19070,3,41,518.0,280,27.423077,0,801,U2,100.0,0.862069,True

In [450]:
data[((data['target_d']==100) | (data['very_generous'] == True)) & (data['domain'] == "C2")]

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d,percent_income_donated,very_generous
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0,0.255102,True
986,27846,GA,NaN,1149,420,509.0,14,17492,2,58,460.0,469,23.333333,0,0,C2,200.0,0.476190,True
1329,96763,IL,F,427,71,253.0,0,6671,1,72,141.0,121,10.750000,2,1805,C2,20.0,0.281690,True

In [451]:
data['state'].value_counts()

CA            311
FL            172
TX            160
IL            129
MI            117
California    100
NC             93
WA             81
GA             66
WI             56
IN             55
MO             55
OR             53
MN             45
SC             41
CO             40
KY             35
TN             33
OK             31
AL             30
LA             29
IA             27
KS             25
AZ             25
Cali           24
NM             22
AR             19
NV             18
Arizona        17
ID             16
NE             14
SD             13
MS             11
MT              9
HI              8
UT              8
Tennessee       8
WY              7
ND              7
NJ              2
CT              2
MD              2
AK              2
NY              1
AP              1
VA              1
AE              1
Name: state, dtype: int64

In [452]:
data[(data['state'].isin(['CA','California','Cali']))  & (data['avggift']<50)]

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d,percent_income_donated,very_generous
8,173223,CA,F,NaN,184,250.0,0,8708,2,63,206.0,235,8.818182,0,1801,T2,10.0,0.054348,False
9,157988,CA,F,AAA2294,593,617.0,61,17838,7,62,NaN,619,6.666667,28,0,S1,10.0,0.016863,False
11,186272,CA,F,3515,521,588.0,97,20068,11,54,565.0,549,8.640000,2,3401,U1,10.0,0.019194,False
12,154301,Cali,F,1026,459,496.0,1,13803,12,52,470.0,491,11.250000,2,2801,T2,10.0,0.021786,False
19,150739,CA,U,1951,556,625.0,44,17208,10,66,578.0,619,9.681818,2,5410,S1,12.0,0.021583,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010,151653,CA,NaN,1455,376,426.0,7,14860,19,39,417.0,393,6.350000,0,2401,U3,10.0,0.026596,False
2012,161726,CA,F,2453,438,475.0,86,15707,16,45,451.0,436,5.812500,0,4601,T1,7.0,0.015982,False
2016,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0,0.046053,False
2017,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0,0.046053,False
2018,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0,0.046053,False

In [453]:
list(data['gender'].unique())

['M', 'F', 'female', 'Male', nan, 'U', 'J', 'male', 'Female', 'feamale']

In [454]:
data['gender'].nunique()

9

In [455]:
data['gender'].value_counts(dropna=False)

F          983
M          760
NaN         70
male        60
female      46
U           36
Female      24
Male        15
feamale     15
J           13
Name: gender, dtype: int64

In [456]:
# deleting columns: how to
# axis = 1 means columns
# axis = 0 means rows
data = data.drop(['tcode','percent_income_donated','very_generous'], axis=1)
data.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,0,C2,5.0

In [457]:
data.T.head()

,0,1,2,3,4,5,6,7,8,9,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
id,44060,96093,43333,21885,190108,100640,18581,119038,173223,157988,...,161726,125986,185394,43799,161838,161838,161838,138311,123469,135341
state,FL,IL,FL,NC,FL,IL,NC,TX,CA,CA,...,CA,TX,MI,FL,CA,CA,CA,AZ,TX,AZ
gender,M,M,F,M,F,M,female,M,F,F,...,F,M,F,F,F,F,F,Female,M,Female
median_home_val,AAA896,537.00,725.00,AAA1095,995.00,764.00,775.00,890.00,NaN,AAA2294,...,2453,533,647,1044,1953,1953,1953,1708,561,700
median_household_income,392,365,301,401,252,457,318,519,184,593,...,438,246,285,366,304,304,304,437,493,205

In [458]:
data.T.iloc[0,:]

0        44060
1        96093
2        43333
3        21885
4       190108
         ...
2017    161838
2018    161838
2019    138311
2020    123469
2021    135341
Name: id, Length: 2022, dtype: object

In [459]:
data.T.T.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.0,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.0,0,C2,5.0

In [460]:
data1 = data.copy()
data1.shape

(2022, 16)

In [461]:
# drop rows
# axis = 0 means rows
data1 = data1.drop([0,1], axis=0)
data1.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,dob,domain,target_d
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,0,C2,5.0
5,100640,IL,M,764.00,457,501.0,1,16022,2,75,477.0,480,25.571429,6104,S2,30.0
6,18581,NC,female,775.00,318,419.0,5,13491,0,73,364.0,380,4.625000,4407,R2,12.0

In [462]:
data.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,0,C2,5.0

In [463]:
#data1.loc[[0,1],:]

In [464]:
data1.shape

(2020, 16)

In [465]:
data.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,0,C2,5.0

In [466]:
data.T

,0,1,2,3,4,5,6,7,8,9,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
id,44060,96093,43333,21885,190108,100640,18581,119038,173223,157988,...,161726,125986,185394,43799,161838,161838,161838,138311,123469,135341
state,FL,IL,FL,NC,FL,IL,NC,TX,CA,CA,...,CA,TX,MI,FL,CA,CA,CA,AZ,TX,AZ
gender,M,M,F,M,F,M,female,M,F,F,...,F,M,F,F,F,F,F,Female,M,Female
median_home_val,AAA896,537.00,725.00,AAA1095,995.00,764.00,775.00,890.00,NaN,AAA2294,...,2453,533,647,1044,1953,1953,1953,1708,561,700
median_household_income,392,365,301,401,252,457,318,519,184,593,...,438,246,285,366,304,304,304,437,493,205
ic4,520.0,473.0,436.0,413.0,348.0,501.0,419.0,560.0,250.0,617.0,...,475.0,308.0,338.0,499.0,380.0,380.0,380.0,684.0,540.0,295.0
hvp1,7,0,3,7,0,1,5,0,0,61,...,86,1,0,15,47,47,47,36,1,0
ic5,21975,19387,18837,14014,17991,16022,13491,17872,8708,17838,...,15707,10096,12910,22427,13811,13811,13811,29098,16623,12713
pobc1,6,1,11,1,5,2,0,2,2,7,...,16,3,7,8,25,25,25,7,5,9
pobc2,16,89,17,74,6,75,73,46,63,62,...,45,75,80,35,43,43,43,19,68,12
ic2,430.0,415.0,340.0,407.0,280.0,477.0,364.0,525.0,206.0,NaN,...,451.0,276.0,317.0,318.0,353.0,353.0,353.0,586.0,529.0,221.0
ic3,466,410,361,399,316,480,380,551,235,619,...,436,287,300,458,337,337,337,551,506,276
avggift,28.0,5.666667,4.111111,27.277778,6.0,25.571429,4.625,6.175,8.818182,6.666667,...,5.8125,13.375,8.916667,13.166667,13.5,13.5,13.5,9.769231,5.2,12.857143
dob,1901,0,2501,2208,0,6104,4407,0,1801,0,...,4601,4610,2702,5801,4212,4212,4212,1403,0,0
domain,C2,T2,C2,T2,C2,S2,R2,C1,T2,S1,...,T1,T2,S2,T2,C2,C2,C2,S1,T2,C2
target_d,100.0,7.0,5.0,38.0,5.0,30.0,12.0,7.0,10.0,10.0,...,7.0,17.0,5.0,20.0,14.0,14.0,14.0,20.0,5.0,12.0

In [467]:
# # deleting columns: how to
# data = data.drop(['tcode'], axis =1) # Explain the argument axis, when axis is 0 and 1

# # Rearranging columns: how to
data = data[['id', 'state', 'gender', 'median_home_val', 'median_household_income', 'ic2', 'ic3', 'ic4', 'ic5', 'avggift', 'domain', 'dob', 'target_d']]

In [468]:
data.head()

,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,domain,dob,target_d
0,44060,FL,M,AAA896,392,430.0,466,520.0,21975,28.000000,C2,1901,100.0
1,96093,IL,M,537.00,365,415.0,410,473.0,19387,5.666667,T2,0,7.0
2,43333,FL,F,725.00,301,340.0,361,436.0,18837,4.111111,C2,2501,5.0
3,21885,NC,M,AAA1095,401,407.0,399,413.0,14014,27.277778,T2,2208,38.0
4,190108,FL,F,995.00,252,280.0,316,348.0,17991,6.000000,C2,0,5.0

In [469]:
#Activity 2
data = pd.concat([data,file3, file4], axis=0)
data.shape

(4028, 17)

In [470]:
data.head()

,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,domain,dob,target_d,hvp1,pobc1,pobc2,tcode
0,44060,FL,M,AAA896,392,430.0,466,520.0,21975,28.000000,C2,1901,100.0,NaN,NaN,NaN,NaN
1,96093,IL,M,537.00,365,415.0,410,473.0,19387,5.666667,T2,0,7.0,NaN,NaN,NaN,NaN
2,43333,FL,F,725.00,301,340.0,361,436.0,18837,4.111111,C2,2501,5.0,NaN,NaN,NaN,NaN
3,21885,NC,M,AAA1095,401,407.0,399,413.0,14014,27.277778,T2,2208,38.0,NaN,NaN,NaN,NaN
4,190108,FL,F,995.00,252,280.0,316,348.0,17991,6.000000,C2,0,5.0,NaN,NaN,NaN,NaN

In [471]:
# 2
data = data.drop(['domain', 'dob'], axis =1) # Explain the argument axis, when axis is 0 and 1
data.head()

,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d,hvp1,pobc1,pobc2,tcode
0,44060,FL,M,AAA896,392,430.0,466,520.0,21975,28.000000,100.0,NaN,NaN,NaN,NaN
1,96093,IL,M,537.00,365,415.0,410,473.0,19387,5.666667,7.0,NaN,NaN,NaN,NaN
2,43333,FL,F,725.00,301,340.0,361,436.0,18837,4.111111,5.0,NaN,NaN,NaN,NaN
3,21885,NC,M,AAA1095,401,407.0,399,413.0,14014,27.277778,38.0,NaN,NaN,NaN,NaN
4,190108,FL,F,995.00,252,280.0,316,348.0,17991,6.000000,5.0,NaN,NaN,NaN,NaN

In [472]:
cols = data.columns
cols

Index(['id', 'state', 'gender', 'median_home_val', 'median_household_income',
       'ic2', 'ic3', 'ic4', 'ic5', 'avggift', 'target_d', 'hvp1', 'pobc1',
       'pobc2', 'tcode'],
      dtype='object')

In [473]:
# 3

data = data[['id', 'state', 'gender', 'ic2', 'ic3', 'ic4', 'ic5', 'median_home_val', 'median_household_income', 'avggift', 'target_d']]
data.head()

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,44060,FL,M,430.0,466,520.0,21975,AAA896,392,28.000000,100.0
1,96093,IL,M,415.0,410,473.0,19387,537.00,365,5.666667,7.0
2,43333,FL,F,340.0,361,436.0,18837,725.00,301,4.111111,5.0
3,21885,NC,M,407.0,399,413.0,14014,AAA1095,401,27.277778,38.0
4,190108,FL,F,280.0,316,348.0,17991,995.00,252,6.000000,5.0

In [474]:
data['gender'].unique()

array(['M', 'F', 'female', 'Male', nan, 'U', 'J', 'male', 'Female',
       'feamale', 'A'], dtype=object)

In [475]:
data['state'].unique()

array(['FL', 'IL', 'NC', 'TX', 'CA', 'NV', 'Cali', 'AP', 'KS', 'MI', 'OK',
       'AR', 'IN', 'MT', 'WI', 'MO', 'HI', 'UT', 'GA', 'WA', 'ID', 'CT',
       'AL', 'ND', 'SC', 'IA', 'CO', 'LA', 'OR', 'SD', 'TN', 'NM', 'AZ',
       'MN', 'KY', 'NJ', 'NE', 'California', 'MS', 'NY', 'Arizona', 'WY',
       'Tennessee', 'MD', 'AK', 'VA', 'AE', 'AA', 'PA', 'VT', 'WV', 'GU'],
      dtype=object)

In [477]:
# 4
#data[(data['gender']=='M') & (data['state'].isin(['FL','Florida']))]
data[(data['gender'].isin(['M','Male','male'])) & ((data['state']=='FL')|(data['state']=='Florida'))]

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,44060,FL,M,430.0,466,520.0,21975,AAA896,392,28.000000,100.0
34,11011,FL,M,270.0,257,269.0,10511,559,232,12.611111,20.0
101,37472,FL,M,239.0,290,301.0,9747,825,233,20.000000,20.0
110,185030,FL,M,274.0,288,326.0,15008,824,248,10.153846,10.0
137,13239,FL,M,270.0,233,332.0,16019,3083,166,2.916667,3.0
...,...,...,...,...,...,...,...,...,...,...,...
962,36776,FL,M,360.0,358,379.0,12869,653,319,9.500000,20.0
973,4881,FL,M,406.0,200,423.0,11670,599,100,9.230769,10.0
992,6403,FL,M,272.0,324,313.0,12509,677,311,10.115385,10.0
997,6443,FL,M,263.0,262,274.0,11132,595,252,14.692308,20.0
1002,4881,FL,M,406.0,200,423.0,11670,599,100,9.230769,10.0

In [478]:
data['gender'].value_counts()

F          1967
M          1473
male        128
female      106
Female       77
U            69
Male         33
J            23
feamale      15
A             1
Name: gender, dtype: int64

In [480]:
data2 = data.copy()

In [ ]:
data2 = data2.drop(['domain','dob'], axis=1)
data2.drop(['domain','dob'], axis=1, inplace=True)

In [ ]:
# 5
data[(data['target_d']<100) & (data['gender'].isin(['F','female','Female','feamale']))].reset_index()
# End of Activity 2

,index,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,2,43333,FL,F,340.0,361,436.0,18837,725.00,301,4.111111,5.0
1,4,190108,FL,F,280.0,316,348.0,17991,995.00,252,6.000000,5.0
2,6,18581,NC,female,364.0,380,419.0,13491,775.00,318,4.625000,12.0
3,8,173223,CA,F,206.0,235,250.0,8708,NaN,184,8.818182,10.0
4,9,157988,CA,F,NaN,619,617.0,17838,AAA2294,593,6.666667,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2151,991,77441,WI,F,354.0,335,376.0,11623,725,316,7.666667,7.0
2152,993,117326,TX,F,750.0,626,837.0,31480,1715,554,6.916667,10.0
2153,996,66762,MI,F,336.0,339,388.0,12653,632,279,8.533333,5.0
2154,998,151175,CA,F,504.0,538,537.0,16165,2707,507,12.117647,22.0
2155,1001,41537,FL,F,424.0,450,470.0,15356,742,396,14.285714,50.0

In [ ]:
# and, or -> &, |

In [481]:
#filter and reset the index
# important to play with the code and check the output
filtered = data[data['gender']=='M']  # Lets say that we are working on this filtered data
filtered

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,44060,FL,M,430.0,466,520.0,21975,AAA896,392,28.000000,100.0
1,96093,IL,M,415.0,410,473.0,19387,537.00,365,5.666667,7.0
3,21885,NC,M,407.0,399,413.0,14014,AAA1095,401,27.277778,38.0
5,100640,IL,M,477.0,480,501.0,16022,764.00,457,25.571429,30.0
7,119038,TX,M,525.0,551,560.0,17872,890.00,519,6.175000,7.0
...,...,...,...,...,...,...,...,...,...,...,...
999,151504,CA,M,609.0,612,653.0,24745,2666,535,12.333333,21.0
1000,74303,MI,M,264.0,269,299.0,10088,444,225,17.142857,25.0
1002,4881,FL,M,406.0,200,423.0,11670,599,100,9.230769,10.0
1003,66358,ND,M,298.0,274,299.0,10186,593,258,5.266667,5.0
1005,68534,MI,M,451.0,455,505.0,14845,651,431,7.428571,9.0

In [482]:
file3.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,0,R3,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0

In [483]:
file4.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,186307,CA,M,AAA1229,345,438,3,15915,2,58,388,417,16.142857,1,2511,C2,20.0
1,34174,WV,F,529,198,291,0,10816,0,80,218,257,6.083333,2,3001,T2,12.0
2,101388,MO,M,526,340,342,0,9687,0,89,348,321,5.800000,1,5501,R2,10.0
3,159472,CA,F,621,231,279,0,6184,43,41,237,272,11.666667,1,1512,R3,15.0
4,179143,WA,male,1688,496,564,35,22963,2,63,520,521,23.900000,1,3709,T1,25.0

In [486]:
data.loc[1]

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
1,96093,IL,M,415.0,410,473.0,19387,537.00,365,5.666667,7.0
1,152470,CA,F,763.0,698,807.0,53158,5725,610,23.727273,45.0
1,34174,WV,F,218.0,257,291.0,10816,529,198,6.083333,12.0

In [487]:
# issue on the index
#filtered.loc[1]
filtered.loc[3]

id                             21885
state                             NC
gender                             M
ic2                            407.0
ic3                              399
ic4                            413.0
ic5                            14014
median_home_val              AAA1095
median_household_income          401
avggift                    27.277778
target_d                        38.0
Name: 3, dtype: object

In [488]:
#filtered.reset_index(drop=True)
filtered = filtered.reset_index(drop=True)
#filtered= filtered.drop(['level_0'], axis=1)
filtered

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,44060,FL,M,430.0,466,520.0,21975,AAA896,392,28.000000,100.0
1,96093,IL,M,415.0,410,473.0,19387,537.00,365,5.666667,7.0
2,21885,NC,M,407.0,399,413.0,14014,AAA1095,401,27.277778,38.0
3,100640,IL,M,477.0,480,501.0,16022,764.00,457,25.571429,30.0
4,119038,TX,M,525.0,551,560.0,17872,890.00,519,6.175000,7.0
...,...,...,...,...,...,...,...,...,...,...,...
1468,151504,CA,M,609.0,612,653.0,24745,2666,535,12.333333,21.0
1469,74303,MI,M,264.0,269,299.0,10088,444,225,17.142857,25.0
1470,4881,FL,M,406.0,200,423.0,11670,599,100,9.230769,10.0
1471,66358,ND,M,298.0,274,299.0,10186,593,258,5.266667,5.0
1472,68534,MI,M,451.0,455,505.0,14845,651,431,7.428571,9.0

In [489]:
temp = filtered.copy()
temp = temp.set_index('state') # This is a dummy case, but indexes should be unique and not nulls, usually auto-increments by 1
temp.head()

,id,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
state,,,,,,,,,,
FL,44060,M,430.0,466,520.0,21975,AAA896,392,28.000000,100.0
IL,96093,M,415.0,410,473.0,19387,537.00,365,5.666667,7.0
NC,21885,M,407.0,399,413.0,14014,AAA1095,401,27.277778,38.0
IL,100640,M,477.0,480,501.0,16022,764.00,457,25.571429,30.0
TX,119038,M,525.0,551,560.0,17872,890.00,519,6.175000,7.0

In [491]:
temp.columns

Index(['id', 'gender', 'ic2', 'ic3', 'ic4', 'ic5', 'median_home_val',
       'median_household_income', 'avggift', 'target_d'],
      dtype='object')

In [490]:
temp.loc['FL']

,id,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
state,,,,,,,,,,
FL,44060,M,430.0,466,520.0,21975,AAA896,392,28.000000,100.0
FL,11011,M,270.0,257,269.0,10511,559,232,12.611111,20.0
FL,37472,M,239.0,290,301.0,9747,825,233,20.000000,20.0
FL,185030,M,274.0,288,326.0,15008,824,248,10.153846,10.0
FL,13239,M,270.0,233,332.0,16019,3083,166,2.916667,3.0
...,...,...,...,...,...,...,...,...,...,...
FL,36776,M,360.0,358,379.0,12869,653,319,9.500000,20.0
FL,4881,M,406.0,200,423.0,11670,599,100,9.230769,10.0
FL,6403,M,272.0,324,313.0,12509,677,311,10.115385,10.0
FL,6443,M,263.0,262,274.0,11132,595,252,14.692308,20.0
FL,4881,M,406.0,200,423.0,11670,599,100,9.230769,10.0

In [492]:
filtered[filtered['state']=='FL']

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,44060,FL,M,430.0,466,520.0,21975,AAA896,392,28.000000,100.0
12,11011,FL,M,270.0,257,269.0,10511,559,232,12.611111,20.0
39,37472,FL,M,239.0,290,301.0,9747,825,233,20.000000,20.0
41,185030,FL,M,274.0,288,326.0,15008,824,248,10.153846,10.0
51,13239,FL,M,270.0,233,332.0,16019,3083,166,2.916667,3.0
...,...,...,...,...,...,...,...,...,...,...,...
1449,36776,FL,M,360.0,358,379.0,12869,653,319,9.500000,20.0
1454,4881,FL,M,406.0,200,423.0,11670,599,100,9.230769,10.0
1464,6403,FL,M,272.0,324,313.0,12509,677,311,10.115385,10.0
1467,6443,FL,M,263.0,262,274.0,11132,595,252,14.692308,20.0
1470,4881,FL,M,406.0,200,423.0,11670,599,100,9.230769,10.0

In [495]:
# Working with indexes
#filtered[1:4]
# filtered[['gender', 'ic2', 'ic3']][0:10]
# filtered.loc[0:10,['gender', 'ic2', 'ic3']]
#filtered.loc[1:4]
#filtered.loc[100]
##----These guys are equivalent
#filtered[1:4]
filtered.iloc[1:4]
# But this not
#filtered.loc[1:4]

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
1,96093,IL,M,415.0,410,473.0,19387,537.00,365,5.666667,7.0
2,21885,NC,M,407.0,399,413.0,14014,AAA1095,401,27.277778,38.0
3,100640,IL,M,477.0,480,501.0,16022,764.00,457,25.571429,30.0

In [496]:
# now, working just on the indexes row,columns
filtered.iloc[0:10,0:4]
#filtered.iloc[[1,2,4,3,8],[0,2,4]]

       id state gender    ic2
0   44060    FL      M  430.0
1   96093    IL      M  415.0
2   21885    NC      M  407.0
3  100640    IL      M  477.0
4  119038    TX      M  525.0
5   87259    MT      M  458.0
6  115823    TX      M  588.0
7   95701    IL      M  260.0
8    5172    IL      M  168.0
9  152486    CA      M  317.0

In [497]:
filtered.iloc[0:10,['id','state','gender','ic2']]

IndexError: ignored

In [498]:
filtered.loc[0:10,['id','state','gender','ic2']]

        id state gender    ic2
0    44060    FL      M  430.0
1    96093    IL      M  415.0
2    21885    NC      M  407.0
3   100640    IL      M  477.0
4   119038    TX      M  525.0
5    87259    MT      M  458.0
6   115823    TX      M  588.0
7    95701    IL      M  260.0
8     5172    IL      M  168.0
9   152486    CA      M  317.0
10  101855    MO      M  385.0

In [499]:
filtered[0:5]

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,44060,FL,M,430.0,466,520.0,21975,AAA896,392,28.000000,100.0
1,96093,IL,M,415.0,410,473.0,19387,537.00,365,5.666667,7.0
2,21885,NC,M,407.0,399,413.0,14014,AAA1095,401,27.277778,38.0
3,100640,IL,M,477.0,480,501.0,16022,764.00,457,25.571429,30.0
4,119038,TX,M,525.0,551,560.0,17872,890.00,519,6.175000,7.0

In [500]:
# .iloc works with implicit numeric indexes
# loc works with implicit numeric indexes or rows/columns names

In [501]:
#Activity 3
# 1 Filter the results where the gender is F 
#   and store the results in another DataFrame filtered2

filtered2 = data[data['gender']=='F']

In [502]:
# 2 Check the first 10 rows of the DataFrame using the head() function.
filtered2.head(10)

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
2,43333,FL,F,340.0,361,436.0,18837,725.00,301,4.111111,5.0
4,190108,FL,F,280.0,316,348.0,17991,995.00,252,6.000000,5.0
8,173223,CA,F,206.0,235,250.0,8708,NaN,184,8.818182,10.0
9,157988,CA,F,NaN,619,617.0,17838,AAA2294,593,6.666667,10.0
10,141720,NV,F,672.0,785,781.0,25775,1569,673,13.000000,5.0
11,186272,CA,F,565.0,549,588.0,20068,3515,521,8.640000,10.0
12,154301,Cali,F,470.0,491,496.0,13803,1026,459,11.250000,10.0
14,188304,KS,F,303.0,287,316.0,10755@,376,263,10.550000,10.0
16,31977,FL,F,599.0,615,702.0,28124,1513,521,18.500000,28.0
17,44336,FL,F,365.0,368,411.0,17728,948,330,15.000000,15.0

In [503]:
filtered_new = filtered2.copy()

In [504]:
filtered_new.head()

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
2,43333,FL,F,340.0,361,436.0,18837,725.00,301,4.111111,5.0
4,190108,FL,F,280.0,316,348.0,17991,995.00,252,6.000000,5.0
8,173223,CA,F,206.0,235,250.0,8708,NaN,184,8.818182,10.0
9,157988,CA,F,NaN,619,617.0,17838,AAA2294,593,6.666667,10.0
10,141720,NV,F,672.0,785,781.0,25775,1569,673,13.000000,5.0

In [505]:
filtered_new.reset_index()

,index,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,2,43333,FL,F,340.0,361,436.0,18837,725.00,301,4.111111,5.0
1,4,190108,FL,F,280.0,316,348.0,17991,995.00,252,6.000000,5.0
2,8,173223,CA,F,206.0,235,250.0,8708,NaN,184,8.818182,10.0
3,9,157988,CA,F,NaN,619,617.0,17838,AAA2294,593,6.666667,10.0
4,10,141720,NV,F,672.0,785,781.0,25775,1569,673,13.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1962,991,77441,WI,F,354.0,335,376.0,11623,725,316,7.666667,7.0
1963,993,117326,TX,F,750.0,626,837.0,31480,1715,554,6.916667,10.0
1964,996,66762,MI,F,336.0,339,388.0,12653,632,279,8.533333,5.0
1965,998,151175,CA,F,504.0,538,537.0,16165,2707,507,12.117647,22.0
1966,1001,41537,FL,F,424.0,450,470.0,15356,742,396,14.285714,50.0

In [506]:
# 3 Reset the index of filtered2 with and without using the parameter drop=True 
#   and check the difference in the results.
#filtered2.reset_index()
filtered2 = filtered2.reset_index(drop=True)
filtered2.head(10)

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,43333,FL,F,340.0,361,436.0,18837,725.00,301,4.111111,5.0
1,190108,FL,F,280.0,316,348.0,17991,995.00,252,6.000000,5.0
2,173223,CA,F,206.0,235,250.0,8708,NaN,184,8.818182,10.0
3,157988,CA,F,NaN,619,617.0,17838,AAA2294,593,6.666667,10.0
4,141720,NV,F,672.0,785,781.0,25775,1569,673,13.000000,5.0
5,186272,CA,F,565.0,549,588.0,20068,3515,521,8.640000,10.0
6,154301,Cali,F,470.0,491,496.0,13803,1026,459,11.250000,10.0
7,188304,KS,F,303.0,287,316.0,10755@,376,263,10.550000,10.0
8,31977,FL,F,599.0,615,702.0,28124,1513,521,18.500000,28.0
9,44336,FL,F,365.0,368,411.0,17728,948,330,15.000000,15.0

In [507]:
# 4 Show the rows from index number 100 to 200.
#filtered2 = data[data['gender']=='F']
#filtered2[100:201]
#filtered2.iloc[100:201]
filtered2.loc[100:200,:]

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
100,45101,FL,F,424.0,407,494.0,18738,1173,322,4.125000,3.0
101,36528,FL,F,373.0,376,400.0,9980,934,323,25.000000,25.0
102,133906,ID,F,261.0,262,294.0,10244,451,225,15.000000,10.0
103,12226,CO,F,273.0,272,302.0,10417,649,238,5.411765,8.0
104,8696,OK,F,439.0,433,456.0,13115,590,410,13.000000,11.0
...,...,...,...,...,...,...,...,...,...,...,...
196,122167,TX,F,262.0,303,294.0,9346,439,255,12.400000,10.0
197,106639,NE,F,422.0,428,477.0,13753,681,387,15.000000,15.0
198,152053,California,F,694.0,704,746.0,24844,3071,626,12.533333,25.0
199,142495,California,F,375.0,379,444.0,19170,2250,340,11.400000,21.0
200,118673,TX,F,347.0,351,354.0,12145,761,321,10.818182,10.0

In [508]:
# 5 Use iloc to get the first 100 rows and columns with indexes 2,3,4,5.
filtered2.iloc[0:101,2:6]

#End of Activity 3

    gender    ic2  ic3    ic4
0        F  340.0  361  436.0
1        F  280.0  316  348.0
2        F  206.0  235  250.0
3        F    NaN  619  617.0
4        F  672.0  785  781.0
..     ...    ...  ...    ...
96       F  610.0  659  669.0
97       F  701.0  838  805.0
98       F  321.0  300  353.0
99       F  363.0  341  388.0
100      F  424.0  407  494.0

[101 rows x 4 columns]

In [509]:
data.head()

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,44060,FL,M,430.0,466,520.0,21975,AAA896,392,28.000000,100.0
1,96093,IL,M,415.0,410,473.0,19387,537.00,365,5.666667,7.0
2,43333,FL,F,340.0,361,436.0,18837,725.00,301,4.111111,5.0
3,21885,NC,M,407.0,399,413.0,14014,AAA1095,401,27.277778,38.0
4,190108,FL,F,280.0,316,348.0,17991,995.00,252,6.000000,5.0

In [510]:
data['ic5'].unique()

array(['21975', '19387', '18837', ..., 16165, 24745, 10088], dtype=object)

In [511]:
data['ic5'].value_counts()

0         23
0          6
10909@     5
16702      4
10419      4
          ..
8963       1
9618       1
24013      1
11541      1
10088      1
Name: ic5, Length: 3636, dtype: int64

In [519]:
# Explaore the data types of a given dataframe
#data.dtypes
#data._get_numeric_data()
#data._get_bool_data()
#data.select_dtypes(['object'])
#data.select_dtypes(['int','float32','float64'])
#data.select_dtypes([np.object])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4028 entries, 0 to 1005
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       4028 non-null   int64
 1   state                    4028 non-null   object
 2   gender                   3892 non-null   object
 3   ic2                      4027 non-null   float64
 4   ic3                      4028 non-null   int64
 5   ic4                      4027 non-null   float64
 6   ic5                      4028 non-null   object
 7   median_home_val          4026 non-null   object
 8   median_household_income  4028 non-null   int64
 9   avggift                  4028 non-null   float64
 10  target_d                 4028 non-null   float64
dtypes: float64(4), int64(3), object(4)
memory usage: 506.7+ KB

In [523]:
float("Hello world")

ValueError: ignored

In [539]:
def clean_median(x):
    x = str(x)
    if ( 'A' in x ):
        x = x.replace("A","")
    x = float(x)
    return x

In [540]:
clean_median("3A5")

35.0

In [ ]:
#def clean_median(df,"median_home_val"):
#    df2 = df.copy()
#    for i in range(len(df2)):
#        if ( 'A' in df2.loc[i,"median_home_val"] ):
#            df2.loc[i,"median_home_val"] = df2.loc[i,"median_home_val"].replace("A","")
#    df2.loc[i,"median_home_val"] = float(df2.loc[i,"median_home_val"])
#    return df2

In [ ]:
list(map(function_name,column))

In [545]:
data2 = data.copy()
#data2['median_home_val'].unique()
data2['median_home_val'] = data2['median_home_val'].apply(clean_median)
#data2['median_home_val']
#data2['median_home_val'] = list(map(clean_median,data2['median_home_val']))
data2[['median_home_val']]

      median_home_val
0               896.0
1               537.0
2               725.0
3              1095.0
4               995.0
...               ...
1001            742.0
1002            599.0
1003            593.0
1004            564.0
1005            651.0

[4028 rows x 1 columns]

In [546]:
list(enumerate("AAA56"))

[(0, 'A'), (1, 'A'), (2, 'A'), (3, '5'), (4, '6')]

In [548]:
temp = "" 
temp = temp + "5"
temp

'5'

In [553]:
def clean_median2(x):
    if (isinstance(x,float)):
        return x
    elif (isinstance(x,int)):
        return float(x)
    else:
        temp = ""
        for index, value in enumerate(x):
            if (value.isdigit()== True or (value in [".","-"])):
                temp = temp + value
                #temp += value
        x = float(temp)
        return x

In [554]:
clean_median2("86.6")

86.6

In [555]:
# correcting data types
data['median_home_val'] =  pd.to_numeric(data['median_home_val'], errors='coerce')
data['ic5'] =  pd.to_numeric(data['ic5'], errors='coerce')
data.head(20)

#data._get_numeric_data() # to check if 'median_home_val' and 'ic5' are now listed as numeric data

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,44060,FL,M,430.0,466,520.0,21975.0,NaN,392,28.000000,100.0
1,96093,IL,M,415.0,410,473.0,19387.0,537.0,365,5.666667,7.0
2,43333,FL,F,340.0,361,436.0,18837.0,725.0,301,4.111111,5.0
3,21885,NC,M,407.0,399,413.0,14014.0,NaN,401,27.277778,38.0
4,190108,FL,F,280.0,316,348.0,17991.0,995.0,252,6.000000,5.0
5,100640,IL,M,477.0,480,501.0,16022.0,764.0,457,25.571429,30.0
6,18581,NC,female,364.0,380,419.0,13491.0,775.0,318,4.625000,12.0
7,119038,TX,M,525.0,551,560.0,17872.0,890.0,519,6.175000,7.0
8,173223,CA,F,206.0,235,250.0,8708.0,NaN,184,8.818182,10.0
9,157988,CA,F,NaN,619,617.0,17838.0,NaN,593,6.666667,10.0
10,141720,NV,F,672.0,785,781.0,25775.0,1569.0,673,13.000000,5.0
11,186272,CA,F,565.0,549,588.0,20068.0,3515.0,521,8.640000,10.0
12,154301,Cali,F,470.0,491,496.0,13803.0,1026.0,459,11.250000,10.0
13,189722,AP,Male,0.0,0,0.0,0.0,0.0,0,5.727273,6.0
14,188304,KS,F,303.0,287,316.0,NaN,376.0,263,10.550000,10.0
15,73699,MI,NaN,474.0,512,523.0,9493.0,890.0,463,11.285714,15.0
16,31977,FL,F,599.0,615,702.0,28124.0,1513.0,521,18.500000,28.0
17,44336,FL,F,365.0,368,411.0,17728.0,948.0,330,15.000000,15.0
18,127823,TX,F,60.0,93,74.0,4236.0,258.0,64,5.450000,6.0
19,150739,CA,U,578.0,619,625.0,17208.0,1951.0,556,9.681818,12.0

In [556]:
# Removing duplicates
print(data.shape)
data2 = data.copy()
data2 = data2.drop_duplicates()  # nb keep argument
# #if we want to remove duplicates based on some specific columns
data2 = data2.drop_duplicates(subset=['state','gender', 'ic2', 'ic3'])
#data2 = data2.drop_duplicates(subset=['state','gender', 'ic2', 'ic3'],keep='last')
# #data2
print(data2.shape)

(4028, 11)
(3932, 11)

In [557]:
# Activity 4

# 1 Check the data types of all the columns in the DataFrame.
data.dtypes

id                           int64
state                       object
gender                      object
ic2                        float64
ic3                          int64
ic4                        float64
ic5                        float64
median_home_val            float64
median_household_income      int64
avggift                    float64
target_d                   float64
dtype: object

In [558]:
# 2 Use select_dtypes() to select all the numerical columns in the DataFrame (both integers and floats).
#data.select_dtypes(['int32', 'float64'])
data.select_dtypes(np.number)

,id,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,44060,430.0,466,520.0,21975.0,NaN,392,28.000000,100.0
1,96093,415.0,410,473.0,19387.0,537.0,365,5.666667,7.0
2,43333,340.0,361,436.0,18837.0,725.0,301,4.111111,5.0
3,21885,407.0,399,413.0,14014.0,NaN,401,27.277778,38.0
4,190108,280.0,316,348.0,17991.0,995.0,252,6.000000,5.0
...,...,...,...,...,...,...,...,...,...
1001,41537,424.0,450,470.0,15356.0,742.0,396,14.285714,50.0
1002,4881,406.0,200,423.0,11670.0,599.0,100,9.230769,10.0
1003,66358,298.0,274,299.0,10186.0,593.0,258,5.266667,5.0
1004,2231,386.0,295,397.0,12315.0,564.0,217,11.400000,14.0
1005,68534,451.0,455,505.0,14845.0,651.0,431,7.428571,9.0

In [559]:
# 3 Convert the columns that have numerical values (which are now object types) to the numeric type.
data['median_household_income'] =  pd.to_numeric(data['median_household_income'], errors='coerce')
data['ic3'] =  pd.to_numeric(data['ic3'], errors='coerce')

data.dtypes

id                           int64
state                       object
gender                      object
ic2                        float64
ic3                          int64
ic4                        float64
ic5                        float64
median_home_val            float64
median_household_income      int64
avggift                    float64
target_d                   float64
dtype: object

In [560]:
# 4 Remove duplicates from the DataFrame if any.
data.shape
data = data.drop_duplicates()
data.shape

(4001, 11)

In [561]:
data.head()

,id,state,gender,ic2,ic3,ic4,ic5,median_home_val,median_household_income,avggift,target_d
0,44060,FL,M,430.0,466,520.0,21975.0,NaN,392,28.000000,100.0
1,96093,IL,M,415.0,410,473.0,19387.0,537.0,365,5.666667,7.0
2,43333,FL,F,340.0,361,436.0,18837.0,725.0,301,4.111111,5.0
3,21885,NC,M,407.0,399,413.0,14014.0,NaN,401,27.277778,38.0
4,190108,FL,F,280.0,316,348.0,17991.0,995.0,252,6.000000,5.0

In [ ]:
def clean_median(x):
    if ( isinstance(x,str) ):
        x = x.replace("A","")
        x = float(x)
    else: 
        x = float(x)
    return x

In [ ]:
lambda x: float(x.replace("A",""))

In [ ]:
def square_value(x):
    return x**2

List comprehension

In [562]:
my_list = []

for i in range(1,6):
    my_list.append(i**2)

my_list

[1, 4, 9, 16, 25]

[ i** 2 for i in range(1,6)]

In [564]:
[i**2 for i in range(1,6)]

[1, 4, 9, 16, 25]

In [ ]:
def function_name(x):
    ...
    return

Lambda functions (anonimous functions)

```python
def function_name(x,y):
    return x+y
```

Lambda function syntax:

lambda arguments: value_to_be_returned

Steps to cast a user defined function into a lambda function:

* Replace "def" by "lambda"
* Remove the function name
* Remove the parentheses
* Remove the return

```python
lambda x,y: x+y
```

```python
def check_if_male(x):
    if ( x == "Male" ):
        print("This a Male")
    else:
        print("This a Female")
```

```python
lambda x: print("This a Male") if ( x == "Male" ) else print("This is a Female")
```

In [565]:
#data["ic5"].apply(clean_median)
#data['ic5'] = list(map(clean_median,data['ic5']))
#data["ic5"].apply(lambda x: float(x.replace("A","")) if ( isinstance(x,str) ) else float(x))
list(map(lambda x: float(x.replace("A","")) if ( isinstance(x,str) ) else float(x),data['ic5']))

[21975.0,
 19387.0,
 18837.0,
 14014.0,
 17991.0,
 16022.0,
 13491.0,
 17872.0,
 8708.0,
 17838.0,
 25775.0,
 20068.0,
 13803.0,
 0.0,
 nan,
 9493.0,
 28124.0,
 17728.0,
 4236.0,
 17208.0,
 11779.0,
 26962.0,
 12038.0,
 12826.0,
 15614.0,
 17606.0,
 14023.0,
 8370.0,
 15627.0,
 12220.0,
 15336.0,
 9704.0,
 12617.0,
 14552.0,
 10511.0,
 33797.0,
 5273.0,
 10420.0,
 22281.0,
 20971.0,
 21179.0,
 17292.0,
 21094.0,
 10484.0,
 15150.0,
 11972.0,
 19185.0,
 7559.0,
 11792.0,
 10621.0,
 9497.0,
 14045.0,
 16561.0,
 26034.0,
 12935.0,
 19102.0,
 13816.0,
 11136.0,
 16891.0,
 12313.0,
 10498.0,
 16777.0,
 10692.0,
 15611.0,
 18492.0,
 11449.0,
 13218.0,
 49744.0,
 32964.0,
 32718.0,
 7361.0,
 0.0,
 13090.0,
 11192.0,
 9715.0,
 11428.0,
 19545.0,
 17882.0,
 14104.0,
 10427.0,
 24251.0,
 19518.0,
 25882.0,
 9819.0,
 11289.0,
 23170.0,
 21667.0,
 14428.0,
 13564.0,
 52654.0,
 10966.0,
 25787.0,
 33235.0,
 21875.0,
 9667.0,
 10726.0,
 10701.0,
 13293.0,
 9843.0,
 23786.0,
 6826.0,
 9747.0,
 10423.0,
 5727.0,
 10343.0,
 24424.0,
 13024.0,
 17363.0,
 13353.0,
 13782.0,
 15008.0,
 16427.0,
 12864.0,
 19399.0,
 9138.0,
 14442.0,
 19444.0,
 19537.0,
 10888.0,
 13162.0,
 12507.0,
 13561.0,
 29368.0,
 51280.0,
 26199.0,
 20842.0,
 19729.0,
 18590.0,
 10356.0,
 17420.0,
 53131.0,
 16163.0,
 13805.0,
 17718.0,
 8443.0,
 14513.0,
 10540.0,
 16019.0,
 11245.0,
 10385.0,
 20694.0,
 10857.0,
 13321.0,
 8956.0,
 28003.0,
 9453.0,
 26265.0,
 15886.0,
 60053.0,
 20691.0,
 8962.0,
 26135.0,
 25828.0,
 16194.0,
 13341.0,
 7139.0,
 17366.0,
 18907.0,
 16517.0,
 12576.0,
 7080.0,
 10792.0,
 23046.0,
 13491.0,
 15502.0,
 13094.0,
 15350.0,
 15120.0,
 22033.0,
 43828.0,
 15438.0,
 9520.0,
 17783.0,
 13411.0,
 11815.0,
 17313.0,
 9064.0,
 33535.0,
 13852.0,
 21980.0,
 9685.0,
 11686.0,
 16084.0,
 14106.0,
 13344.0,
 7798.0,
 10873.0,
 8726.0,
 37411.0,
 15160.0,
 27469.0,
 21410.0,
 11360.0,
 20529.0,
 21559.0,
 16474.0,
 17458.0,
 34382.0,
 12452.0,
 12989.0,
 15149.0,
 18738.0,
 9980.0,
 21444.0,
 10244.0,
 10417.0,
 13115.0,
 19609.0,
 9547.0,
 11299.0,
 8381.0,
 8881.0,
 15105.0,
 9296.0,
 10985.0,
 14300.0,
 18236.0,
 13978.0,
 24736.0,
 15013.0,
 35544.0,
 31631.0,
 18525.0,
 17053.0,
 8860.0,
 13460.0,
 18497.0,
 22571.0,
 26360.0,
 20327.0,
 13462.0,
 13299.0,
 11279.0,
 21458.0,
 16476.0,
 24198.0,
 18663.0,
 19862.0,
 6682.0,
 21447.0,
 12806.0,
 12391.0,
 20795.0,
 10171.0,
 64833.0,
 16873.0,
 10521.0,
 23660.0,
 39481.0,
 19508.0,
 32640.0,
 14248.0,
 18042.0,
 9838.0,
 31111.0,
 18405.0,
 9248.0,
 13209.0,
 17344.0,
 16254.0,
 18824.0,
 19165.0,
 10269.0,
 9452.0,
 13011.0,
 24240.0,
 5043.0,
 15022.0,
 18029.0,
 9240.0,
 15010.0,
 6576.0,
 15070.0,
 21767.0,
 15361.0,
 12509.0,
 12835.0,
 19149.0,
 12621.0,
 15958.0,
 11792.0,
 11052.0,
 15970.0,
 31773.0,
 9470.0,
 14538.0,
 17854.0,
 13231.0,
 13662.0,
 14293.0,
 9020.0,
 13669.0,
 17527.0,
 7115.0,
 17637.0,
 9853.0,
 15322.0,
 15910.0,
 9654.0,
 27608.0,
 15767.0,
 6845.0,
 10150.0,
 11115.0,
 9765.0,
 10720.0,
 11072.0,
 13490.0,
 8893.0,
 8246.0,
 18567.0,
 13135.0,
 9480.0,
 11401.0,
 10731.0,
 10488.0,
 12950.0,
 10979.0,
 14958.0,
 15491.0,
 10788.0,
 12518.0,
 24290.0,
 12601.0,
 27875.0,
 15936.0,
 12450.0,
 10719.0,
 12630.0,
 9706.0,
 17519.0,
 9569.0,
 10985.0,
 9086.0,
 18427.0,
 14981.0,
 23212.0,
 22770.0,
 47363.0,
 14923.0,
 13150.0,
 94863.0,
 24758.0,
 29990.0,
 12960.0,
 17763.0,
 16926.0,
 7079.0,
 19029.0,
 10324.0,
 15499.0,
 13184.0,
 16190.0,
 13837.0,
 10041.0,
 7582.0,
 12388.0,
 24945.0,
 18572.0,
 11387.0,
 13896.0,
 13433.0,
 15195.0,
 10337.0,
 18391.0,
 11567.0,
 0.0,
 29871.0,
 11046.0,
 13190.0,
 10897.0,
 22667.0,
 9346.0,
 13753.0,
 16069.0,
 8947.0,
 8231.0,
 19923.0,
 30386.0,
 9078.0,
 24844.0,
 26462.0,
 10743.0,
 60492.0,
 19170.0,
 20171.0,
 12145.0,
 24747.0,
 15765.0,
 22845.0,
 11885.0,
 12885.0,
 12799.0,
 19082.0,
 14397.0,
 9583.0,
 16473.0,
 12623.0,
 10994.0,
 8359.0,
 9781.0,
 12588.0,
 15715.0,
 9190.0,
 13859.0,
 64190.0,
 12994.0,
 9192.0,
 8797.0,
 18279.0,
 13696.0,
 12539.0,
 17697.0,
 9715.0,
 9637.0,
 16399.0,
 9114.0,
 17204.0,
 14377.0,
 23035.0,
 26104.0,
 7968.0,
 12494.0,
 26951.0,
 8046.0,
 15360.0,
 8314.0,
 12734.0,
 15179.0,
 12987.0,
 21648.0,
 17653.0,
 10031.0,
 12868.0,
 10910.0,
 13351.0,
 10245.0,
 12982.0,
 13538.0,
 23275.0,
 15002.0,
 42356.0,
 13445.0,
 13133.0,
 8709.0,
 15287.0,
 14394.0,
 12273.0,
 12929.0,
 8856.0,
 17032.0,
 10329.0,
 12513.0,
 18284.0,
 22648.0,
 20492.0,
 29540.0,
 19734.0,
 16133.0,
 17690.0,
 10959.0,
 29903.0,
 14496.0,
 42236.0,
 34012.0,
 12275.0,
 7089.0,
 14118.0,
 14345.0,
 12166.0,
 23023.0,
 20867.0,
 8456.0,
 29286.0,
 11849.0,
 11621.0,
 12519.0,
 17282.0,
 12451.0,
 25386.0,
 18133.0,
 8018.0,
 13079.0,
 9434.0,
 18951.0,
 43978.0,
 4437.0,
 13147.0,
 9840.0,
 12225.0,
 14661.0,
 10074.0,
 10581.0,
 37734.0,
 18247.0,
 23861.0,
 15256.0,
 28878.0,
 21871.0,
 14424.0,
 12271.0,
 6615.0,
 9838.0,
 8675.0,
 15765.0,
 20659.0,
 10590.0,
 10504.0,
 14663.0,
 17869.0,
 14121.0,
 11020.0,
 44570.0,
 14713.0,
 13377.0,
 12600.0,
 7683.0,
 32072.0,
 17655.0,
 11235.0,
 13716.0,
 42897.0,
 9747.0,
 17187.0,
 13168.0,
 18591.0,
 11303.0,
 10484.0,
 14658.0,
 20940.0,
 20557.0,
 174523.0,
 8898.0,
 13284.0,
 12221.0,
 17984.0,
 34070.0,
 12513.0,
 12165.0,
 11140.0,
 17405.0,
 15017.0,
 9906.0,
 18369.0,
 14539.0,
 14106.0,
 25985.0,
 19457.0,
 11139.0,
 15332.0,
 8075.0,
 8165.0,
 23188.0,
 34143.0,
 15788.0,
 13901.0,
 13399.0,
 25660.0,
 5159.0,
 22794.0,
 24693.0,
 24850.0,
 11659.0,
 14002.0,
 11714.0,
 12484.0,
 25787.0,
 22015.0,
 12333.0,
 21051.0,
 11763.0,
 11979.0,
 16777.0,
 23187.0,
 11061.0,
 9722.0,
 12206.0,
 14965.0,
 13570.0,
 16922.0,
 11912.0,
 17986.0,
 10858.0,
 31694.0,
 22221.0,
 27400.0,
 8172.0,
 8763.0,
 9994.0,
 9015.0,
 16211.0,
 21371.0,
 9374.0,
 35636.0,
 19234.0,
 15002.0,
 9859.0,
 11313.0,
 12784.0,
 12940.0,
 13902.0,
 12507.0,
 4578.0,
 9881.0,
 11467.0,
 19955.0,
 9540.0,
 15711.0,
 21821.0,
 11298.0,
 19234.0,
 16752.0,
 11517.0,
 29875.0,
 15863.0,
 18252.0,
 9579.0,
 25558.0,
 7421.0,
 14635.0,
 10315.0,
 14377.0,
 17607.0,
 15986.0,
 22215.0,
 10719.0,
 31730.0,
 11438.0,
 12885.0,
 12976.0,
 19466.0,
 9775.0,
 7285.0,
 10611.0,
 17557.0,
 22012.0,
 11857.0,
 19283.0,
 11108.0,
 35092.0,
 14995.0,
 12981.0,
 21857.0,
 13469.0,
 11242.0,
 12537.0,
 14571.0,
 23170.0,
 17434.0,
 8614.0,
 14926.0,
 18279.0,
 15398.0,
 10020.0,
 15011.0,
 19336.0,
 12512.0,
 11471.0,
 62084.0,
 9318.0,
 7939.0,
 9299.0,
 8725.0,
 9127.0,
 16974.0,
 10988.0,
 39534.0,
 7228.0,
 18694.0,
 14193.0,
 30429.0,
 8494.0,
 13339.0,
 22508.0,
 29888.0,
 11878.0,
 19493.0,
 21110.0,
 11592.0,
 19525.0,
 57103.0,
 11472.0,
 17897.0,
 12238.0,
 17774.0,
 17954.0,
 47863.0,
 34641.0,
 10342.0,
 7241.0,
 22914.0,
 15112.0,
 18730.0,
 13238.0,
 42488.0,
 33614.0,
 10470.0,
 8169.0,
 16427.0,
 16982.0,
 30483.0,
 10716.0,
 32474.0,
 17806.0,
 9368.0,
 12714.0,
 17217.0,
 16271.0,
 17973.0,
 24913.0,
 19095.0,
 22630.0,
 19152.0,
 38212.0,
 18438.0,
 30968.0,
 14420.0,
 0.0,
 11608.0,
 14602.0,
 17908.0,
 16388.0,
 47151.0,
 17470.0,
 20135.0,
 13370.0,
 13837.0,
 26712.0,
 11372.0,
 9182.0,
 14435.0,
 13818.0,
 14810.0,
 7438.0,
 35022.0,
 13044.0,
 38075.0,
 19246.0,
 15505.0,
 34593.0,
 14925.0,
 14758.0,
 12653.0,
 18586.0,
 12546.0,
 20395.0,
 18277.0,
 10728.0,
 7046.0,
 17306.0,
 39319.0,
 11462.0,
 0.0,
 8510.0,
 11919.0,
 6873.0,
 16726.0,
 9654.0,
 10249.0,
 11152.0,
 23233.0,
 14070.0,
 11129.0,
 8518.0,
 8799.0,
 38854.0,
 17987.0,
 9987.0,
 15832.0,
 15669.0,
 10907.0,
 0.0,
 21467.0,
 10891.0,
 15739.0,
 8452.0,
 9769.0,
 16724.0,
 12335.0,
 10860.0,
 15652.0,
 11264.0,
 8760.0,
 11371.0,
 14663.0,
 21284.0,
 24742.0,
 20138.0,
 10228.0,
 11660.0,
 8676.0,
 7817.0,
 23572.0,
 17372.0,
 8735.0,
 13227.0,
 13120.0,
 11310.0,
 16368.0,
 15917.0,
 5088.0,
 25039.0,
 10528.0,
 14886.0,
 9472.0,
 23530.0,
 14037.0,
 7587.0,
 11838.0,
 12961.0,
 8803.0,
 14237.0,
 57390.0,
 9154.0,
 11476.0,
 12418.0,
 10469.0,
 20176.0,
 11973.0,
 14914.0,
 10962.0,
 7915.0,
 16480.0,
 14194.0,
 13350.0,
 10788.0,
 7982.0,
 11662.0,
 16104.0,
 9349.0,
 7586.0,
 13159.0,
 15876.0,
 12213.0,
 17874.0,
 19440.0,
 20987.0,
 18423.0,
 16525.0,
 9429.0,
 10325.0,
 11107.0,
 9808.0,
 14900.0,
 26731.0,
 22764.0,
 18247.0,
 18592.0,
 44839.0,
 9809.0,
 20833.0,
 11696.0,
 27653.0,
 10539.0,
 14984.0,
 4877.0,
 17020.0,
 13763.0,
 14822.0,
 9800.0,
 19695.0,
 52437.0,
 13674.0,
 16670.0,
 68593.0,
 13120.0,
 6834.0,
 10045.0,
 29018.0,
 18634.0,
 14629.0,
 17626.0,
 8382.0,
 15721.0,
 9572.0,
 21986.0,
 10633.0,
 19549.0,
 22008.0,
 12105.0,
 8524.0,
 13332.0,
 10176.0,
 12532.0,
 12452.0,
 11033.0,
 9832.0,
 14451.0,
 16809.0,
 15523.0,
 18815.0,
 14114.0,
 28264.0,
 17874.0,
 16556.0,
 16165.0,
 7025.0,
 12551.0,
 18560.0,
 18764.0,
 13568.0,
 16653.0,
 25768.0,
 21372.0,
 13817.0,
 nan,
 11405.0,
 28285.0,
 16532.0,
 6997.0,
 28892.0,
 17149.0,
 27692.0,
 20693.0,
 13167.0,
 15490.0,
 10543.0,
 11851.0,
 13818.0,
 36020.0,
 12534.0,
 10736.0,
 18361.0,
 nan,
 12872.0,
 14561.0,
 29643.0,
 14210.0,
 13005.0,
 13456.0,
 20238.0,
 7822.0,
 16285.0,
 11050.0,
 22233.0,
 15694.0,
 16011.0,
 8524.0,
 8563.0,
 17243.0,
 nan,
 26817.0,
 14360.0,
 20426.0,
 14317.0,
 14668.0,
 19317.0,
 8650.0,
 12277.0,
 34677.0,
 10728.0,
 11490.0,
 9665.0,
 18517.0,
 17633.0,
 30595.0,
 9020.0,
 11303.0,
 9654.0,
 16568.0,
 10632.0,
 9399.0,
 19446.0,
 10779.0,
 8757.0,
 13840.0,
 12204.0,
 15746.0,
 12849.0,
 13817.0,
 nan,
 30766.0,
 15482.0,
 12097.0,
 19797.0,
 16007.0,
 23716.0,
 54642.0,
 15304.0,
 12894.0,
 10272.0,
 15108.0,
 23455.0,
 6842.0,
 14174.0,
 12368.0,
 17492.0,
 8533.0,
 15849.0,
 20665.0,
 12721.0,
 12121.0,
 nan,
 12780.0,
 21200.0,
 9720.0,
 15138.0,
 7746.0,
 16833.0,
 11779.0,
 ...]

In [566]:
lambda("x")

SyntaxError: ignored

In [ ]:
list(enumerate([3,1,5]))

[(0, 3), (1, 1), (2, 5)]

In [ ]:
for value in data['ic4']:
    print(value + 5)

data['ic5'] = data['ic5'].apply(clean_median)
data['ic5'] = list(map(function_name,data['ic5']))
data['ic5'] = data['ic5'].apply(lambda x: float(x.replace("A","")) if ("A" in x) else float(x))

520.0
473.0
436.0
413.0
348.0
501.0
419.0
560.0
250.0
617.0
781.0
588.0
496.0
0.0
316.0
523.0
702.0
411.0
74.0
625.0
nan
656.0
341.0
370.0
432.0
650.0
317.0
212.0
393.0
392.0
416.0
264.0
396.0
503.0
269.0
531.0
190.0
394.0
588.0
545.0
678.0
357.0
750.0
356.0
472.0
376.0
446.0
257.0
355.0
316.0
256.0
380.0
490.0
407.0
373.0
536.0
485.0
382.0
444.0
337.0
376.0
538.0
329.0
428.0
463.0
300.0
399.0
788.0
780.0
903.0
224.0
0.0
383.0
309.0
250.0
352.0
663.0
497.0
379.0
268.0
614.0
613.0
737.0
215.0
400.0
680.0
564.0
410.0
368.0
1128.0
319.0
781.0
640.0
624.0
373.0
342.0
324.0
379.0
316.0
609.0
376.0
301.0
290.0
179.0
279.0
734.0
299.0
517.0
464.0
495.0
326.0
520.0
394.0
591.0
273.0
402.0
468.0
584.0
302.0
400.0
346.0
406.0
847.0
848.0
781.0
482.0
581.0
508.0
286.0
530.0
843.0
451.0
428.0
459.0
254.0
418.0
300.0
332.0
372.0
404.0
605.0
362.0
330.0
280.0
555.0
312.0
601.0
543.0
1065.0
570.0
248.0
823.0
541.0
340.0
335.0
210.0
566.0
456.0
441.0
394.0
318.0
327.0
376.0
313.0
442.0
347.0
444.0
447.0
672.0
785.0
466.0
230.0
438.0
381.0
407.0
544.0
208.0
744.0
433.0
187.0
408.0
316.0
566.0
423.0
523.0
248.0
331.0
261.0
850.0
425.0
732.0
471.0
385.0
669.0
651.0
427.0
411.0
805.0
353.0
388.0
373.0
494.0
400.0
497.0
294.0
302.0
456.0
379.0
295.0
377.0
249.0
256.0
341.0
348.0
390.0
358.0
503.0
428.0
724.0
472.0
772.0
661.0
537.0
402.0
232.0
456.0
654.0
679.0
825.0
548.0
472.0
398.0
358.0
624.0
486.0
434.0
525.0
562.0
170.0
718.0
302.0
474.0
616.0
310.0
1085.0
453.0
425.0
582.0
918.0
454.0
949.0
416.0
516.0
303.0
896.0
577.0
288.0
349.0
548.0
465.0
548.0
581.0
320.0
290.0
371.0
447.0
218.0
470.0
611.0
278.0
466.0
219.0
309.0
454.0
363.0
325.0
383.0
559.0
342.0
459.0
355.0
347.0
391.0
725.0
330.0
498.0
437.0
372.0
423.0
381.0
231.0
403.0
422.0
253.0
517.0
269.0
327.0
501.0
299.0
621.0
472.0
240.0
302.0
338.0
283.0
337.0
309.0
381.0
222.0
256.0
545.0
358.0
280.0
416.0
318.0
324.0
376.0
371.0
426.0
375.0
286.0
324.0
660.0
433.0
935.0
481.0
457.0
275.0
378.0
315.0
527.0
272.0
288.0
158.0
521.0
449.0
741.0
606.0
807.0
351.0
373.0
1217.0
606.0
640.0
280.0
533.0
432.0
244.0
508.0
350.0
450.0
416.0
470.0
361.0
302.0
307.0
354.0
745.0
517.0
341.0
364.0
366.0
506.0
304.0
507.0
402.0
0.0
677.0
351.0
391.0
364.0
533.0
294.0
477.0
362.0
263.0
274.0
620.0
801.0
244.0
746.0
488.0
335.0
1191.0
444.0
619.0
354.0
491.0
401.0
569.0
427.0
323.0
376.0
551.0
461.0
254.0
411.0
512.0
385.0
278.0
403.0
375.0
490.0
344.0
382.0
1119.0
319.0
303.0
203.0
539.0
385.0
323.0
422.0
309.0
299.0
463.0
282.0
585.0
437.0
678.0
781.0
222.0
326.0
664.0
279.0
342.0
280.0
428.0
481.0
396.0
583.0
532.0
330.0
399.0
326.0
362.0
280.0
385.0
349.0
540.0
479.0
738.0
409.0
347.0
261.0
482.0
455.0
374.0
390.0
210.0
521.0
314.0
358.0
502.0
472.0
541.0
602.0
526.0
375.0
614.0
277.0
957.0
468.0
980.0
649.0
407.0
163.0
454.0
499.0
360.0
557.0
574.0
254.0
770.0
369.0
298.0
348.0
379.0
339.0
528.0
540.0
313.0
395.0
241.0
437.0
995.0
156.0
383.0
279.0
562.0
375.0
291.0
304.0
399.0
605.0
645.0
469.0
839.0
615.0
338.0
314.0
172.0
299.0
306.0
540.0
464.0
308.0
315.0
400.0
560.0
323.0
319.0
892.0
485.0
456.0
327.0
235.0
871.0
620.0
306.0
451.0
961.0
275.0
487.0
371.0
466.0
351.0
472.0
347.0
599.0
676.0
1150.0
256.0
376.0
236.0
497.0
813.0
358.0
312.0
337.0
555.0
439.0
368.0
563.0
383.0
508.0
755.0
494.0
354.0
461.0
225.0
279.0
522.0
581.0
497.0
433.0
412.0
540.0
137.0
527.0
732.0
504.0
325.0
419.0
372.0
363.0
584.0
457.0
391.0
506.0
355.0
344.0
484.0
491.0
383.0
302.0
336.0
503.0
404.0
541.0
282.0
469.0
253.0
770.0
409.0
818.0
284.0
263.0
270.0
298.0
327.0
540.0
240.0
787.0
539.0
473.0
308.0
373.0
411.0
428.0
449.0
379.0
190.0
244.0
321.0
587.0
319.0
432.0
663.0
374.0
539.0
513.0
362.0
738.0
492.0
398.0
269.0
568.0
247.0
545.0
300.0
393.0
580.0
507.0
662.0
369.0
661.0
272.0
399.0
359.0
452.0
277.0
262.0
266.0
531.0
551.0
348.0
579.0
285.0
778.0
438.0
364.0
549.0
371.0
406.0
439.0
327.0
680.0
458.0
263.0
475.0
539.0
278.0
324.0
380.0
330.0
461.0
386.0
985.0
287.0
228.0
222.0
269.0
138.0
543.0
327.0
905.0
226.0
600.0
445.0
687.0
252.0
356.0
627.0
680.0
374.0
540.0
527.0
386.0
633.0
1183.0
337.0
405.0
348.0
528.0
598.0
862.0
692.0
293.0
246.0
654.0
444.0
465.0
346.0
797.0
947.0
351.0
261.0
520.0
293.0
721.0
263.0
752.0
571.0
276.0
353.0
563.0
497.0
508.0
786.0
478.0
569.0
628.0
931.0
457.0
451.0
384.0
0.0
311.0
304.0
584.0
475.0
835.0
569.0
634.0
411.0
361.0
663.0
292.0
285.0
446.0
380.0
441.0
268.0
744.0
377.0
833.0
466.0
455.0
867.0
487.0
459.0
398.0
590.0
463.0
505.0
496.0
315.0
337.0
532.0
917.0
326.0
0.0
252.0
325.0
229.0
467.0
281.0
253.0
251.0
626.0
411.0
295.0
270.0
265.0
826.0
521.0
313.0
379.0
421.0
322.0
0.0
705.0
275.0
359.0
269.0
323.0
422.0
453.0
341.0
472.0
279.0
302.0
322.0
400.0
432.0
401.0
485.0
247.0
345.0
245.0
223.0
652.0
506.0
263.0
388.0
363.0
339.0
479.0
494.0
183.0
633.0
319.0
328.0
313.0
711.0
362.0
260.0
361.0
387.0
256.0
388.0
930.0
259.0
307.0
391.0
304.0
575.0
377.0
432.0
265.0
275.0
476.0
448.0
427.0
303.0
248.0
359.0
423.0
262.0
185.0
366.0
517.0
331.0
543.0
526.0
569.0
472.0
507.0
259.0
347.0
356.0
306.0
437.0
729.0
424.0
443.0
461.0
903.0
269.0
379.0
384.0
833.0
283.0
427.0
203.0
507.0
463.0
445.0
294.0
492.0
977.0
423.0
432.0
1263.0
405.0
227.0
274.0
729.0
441.0
430.0
624.0
244.0
379.0
297.0
558.0
319.0
509.0
596.0
337.0
251.0
337.0
295.0
413.0
391.0
329.0
286.0
456.0
478.0
383.0
557.0
259.0
651.0
416.0
495.0
374.0
231.0
367.0
524.0
606.0
483.0
377.0
720.0
589.0
393.0
315.0
327.0
718.0
420.0
328.0
642.0
339.0
670.0
572.0
395.0
521.0
329.0
362.0
373.0
854.0
343.0
359.0
393.0
286.0
299.0
428.0
904.0
461.0
355.0
431.0
571.0
243.0
567.0
381.0
446.0
431.0
445.0
251.0
233.0
452.0
510.0
683.0
446.0
510.0
387.0
438.0
442.0
294.0
365.0
841.0
261.0
337.0
251.0
580.0
606.0
610.0
246.0
361.0
299.0
435.0
304.0
286.0
555.0
360.0
235.0
363.0
382.0
361.0
347.0
368.0
352.0
788.0
441.0
376.0
626.0
442.0
480.0
962.0
465.0
494.0
330.0
392.0
609.0
188.0
443.0
369.0
509.0
238.0
398.0
517.0
258.0
355.0
302.0
347.0
571.0
325.0
537.0
326.0
364.0
352.0
343.0
409.0
455.0
301.0
308.0
697.0
398.0
471.0
805.0
363.0
591.0
491.0
426.0
301.0
475.0
308.0
338.0
499.0
397.0
556.0
618.0
958.0
835.0
697.0
313.0
562.0
666.0
700.0
264.0
469.0
490.0
355.0
94.0
427.0
395.0
375.0
562.0
0.0
352.0
332.0
811.0
337.0
561.0
950.0
444.0
442.0
296.0
259.0
709.0
450.0
312.0
410.0
365.0
357.0
1079.0
582.0
537.0
777.0
324.0
539.0
305.0
258.0
553.0
339.0
891.0
265.0
511.0
450.0
432.0
288.0
446.0
609.0
0.0
412.0
782.0
292.0
313.0
784.0
356.0
399.0
273.0
309.0
488.0
308.0
566.0
430.0
262.0
382.0
486.0
223.0
466.0
459.0
341.0
384.0
469.0
274.0
528.0
328.0
313.0
691.0
387.0
346.0
380.0
267.0
296.0
342.0
337.0
366.0
609.0
369.0
331.0
669.0
376.0
672.0
395.0
718.0
292.0
651.0
252.0
455.0
777.0
599.0
449.0
389.0
318.0
315.0
410.0
362.0
290.0
325.0
523.0
489.0
285.0
349.0
474.0
544.0
498.0
536.0
381.0
529.0
406.0
296.0
386.0
386.0
272.0
275.0
548.0
447.0
764.0
304.0
580.0
0.0
167.0
279.0
462.0
320.0
481.0
493.0
541.0
392.0
285.0
278.0
265.0
410.0
266.0
465.0
303.0
264.0
441.0
388.0
636.0
273.0
497.0
475.0
725.0
390.0
258.0
888.0
441.0
498.0
497.0
553.0
467.0
313.0
319.0
307.0
495.0
380.0
308.0
488.0
345.0
289.0
291.0
660.0
297.0
267.0
642.0
365.0
391.0
289.0
571.0
397.0
422.0
755.0
683.0
380.0
390.0
366.0
89.0
232.0
614.0
289.0
668.0
322.0
429.0
338.0
427.0
569.0
318.0
556.0
324.0
593.0
316.0
213.0
521.0
326.0
816.0
573.0
459.0
459.0
810.0
818.0
373.0
1146.0
467.0
356.0
340.0
335.0
386.0
328.0
260.0
444.0
340.0
416.0
256.0
1118.0
297.0
386.0
319.0
542.0
304.0
583.0
496.0
305.0
465.0
298.0
414.0
700.0
452.0
195.0
326.0
301.0
372.0
913.0
285.0
0.0
633.0
0.0
483.0
287.0
569.0
285.0
503.0
486.0
609.0
678.0
581.0
269.0
993.0
396.0
329.0
336.0
402.0
351.0
544.0
350.0
660.0
411.0
507.0
542.0
1144.0
382.0
266.0
313.0
394.0
485.0
526.0
427.0
391.0
368.0
533.0
361.0
387.0
849.0
318.0
284.0
285.0
579.0
370.0
403.0
432.0
456.0
462.0
297.0
523.0
406.0
442.0
417.0
193.0
485.0
672.0
265.0
253.0
896.0
435.0
464.0
152.0
445.0
664.0
491.0
538.0
484.0
686.0
628.0
324.0
295.0
403.0
419.0
0.0
388.0
279.0
838.0
308.0
301.0
389.0
507.0
359.0
428.0
344.0
203.0
559.0
589.0
254.0
350.0
457.0
411.0
156.0
445.0
252.0
361.0
555.0
570.0
524.0
348.0
351.0
334.0
228.0
605.0
492.0
450.0
368.0
437.0
286.0
282.0
382.0
781.0
239.0
587.0
375.0
363.0
384.0
534.0
319.0
211.0
436.0
355.0
440.0
543.0
347.0
318.0
434.0
387.0
340.0
340.0
762.0
342.0
400.0
433.0
284.0
433.0
438.0
337.0
455.0
662.0
254.0
187.0
249.0
419.0
0.0
765.0
550.0
1204.0
457.0
318.0
469.0
602.0
1105.0
1179.0
221.0
479.0
398.0
323.0
363.0
427.0
504.0
364.0
492.0
743.0
286.0
544.0
311.0
467.0
408.0
296.0
557.0
264.0
543.0
1004.0
629.0
474.0
901.0
274.0
338.0
335.0
356.0
472.0
352.0
288.0
210.0
395.0
684.0
455.0
476.0
413.0
464.0
441.0
207.0
569.0
314.0
390.0
304.0
655.0
314.0
299.0
407.0
202.0
341.0
543.0
469.0
287.0
343.0
367.0
818.0
516.0
872.0
503.0
308.0
317.0
445.0
264.0
469.0
313.0
324.0
341.0
372.0
597.0
614.0
511.0
251.0
402.0
547.0
329.0
636.0
326.0
312.0
328.0
866.0
490.0
303.0
361.0
387.0
375.0
360.0
292.0
375.0
704.0
269.0
473.0
500.0
420.0
387.0
558.0
287.0
318.0
277.0
373.0
373.0
479.0
359.0
710.0
462.0
471.0
319.0
748.0
356.0
228.0
482.0
457.0
457.0
539.0
307.0
722.0
321.0
575.0
668.0
439.0
793.0
335.0
678.0
376.0
326.0
496.0
400.0
633.0
259.0
332.0
688.0
346.0
518.0
237.0
357.0
320.0
363.0
791.0
419.0
405.0
720.0
356.0
497.0
511.0
396.0
709.0
395.0
341.0
390.0
385.0
464.0
495.0
239.0
279.0
544.0
306.0
635.0
487.0
945.0
514.0
362.0
810.0
258.0
336.0
384.0
536.0
347.0
590.0
959.0
227.0
726.0
404.0
546.0
253.0
420.0
267.0
205.0
233.0
457.0
425.0
315.0
932.0
528.0
421.0
386.0
578.0
428.0
850.0
703.0
406.0
1051.0
341.0
420.0
453.0
468.0
607.0
226.0
186.0
386.0
392.0
237.0
289.0
323.0
317.0
314.0
323.0
325.0
455.0
754.0
321.0
537.0
1217.0
475.0
397.0
356.0
399.0
384.0
529.0
327.0
471.0
489.0
331.0
287.0
0.0
243.0
288.0
345.0
407.0
715.0
473.0
478.0
731.0
462.0
328.0
428.0
505.0
272.0
273.0
234.0
391.0
394.0
451.0
397.0
561.0
725.0
405.0
286.0
349.0
309.0
501.0
336.0
815.0
485.0
359.0
430.0
498.0
415.0
631.0
343.0
601.0
562.0
607.0
297.0
271.0
718.0
416.0
237.0
237.0
537.0
444.0
191.0
515.0
255.0
367.0
357.0
319.0
334.0
364.0
297.0
654.0
303.0
424.0
357.0
180.0
423.0
640.0
652.0
492.0
535.0
304.0
432.0
238.0
275.0
461.0
470.0
277.0
450.0
392.0
366.0
473.0
307.0
353.0
478.0
298.0
372.0
299.0
420.0
366.0
322.0
393.0
707.0
364.0
355.0
344.0
356.0
356.0
313.0
404.0
246.0
618.0
373.0
403.0
397.0
579.0
475.0
476.0
746.0
338.0
787.0
794.0
468.0
541.0
514.0
575.0
319.0
523.0
454.0
346.0
662.0
375.0
518.0
322.0
505.0
505.0
578.0
412.0
299.0
684.0
233.0
629.0
845.0
269.0
361.0
398.0
223.0
407.0
511.0
211.0
488.0
417.0
375.0
385.0
542.0
409.0
454.0
328.0
540.0
454.0
523.0
422.0
419.0
381.0
511.0
400.0
332.0
290.0
287.0
857.0
588.0
641.0
445.0
255.0
660.0
511.0
321.0
300.0
323.0
533.0
265.0
296.0
393.0
519.0
272.0
315.0
454.0
481.0
750.0
224.0
277.0
362.0
401.0
386.0
478.0
381.0
521.0
606.0
531.0
380.0
400.0
414.0
811.0
503.0
371.0
432.0
300.0
421.0
768.0
350.0
805.0
932.0
557.0
254.0
336.0
322.0
377.0
441.0
426.0
319.0
950.0
453.0
308.0
270.0
304.0
450.0
299.0
548.0
425.0
563.0
376.0
398.0
327.0
299.0
325.0
274.0
371.0
527.0
426.0
399.0
273.0
782.0
892.0
606.0
414.0
586.0
293.0
360.0
270.0
523.0
532.0
319.0
255.0
364.0
350.0
453.0
432.0
386.0
517.0
584.0
450.0
323.0
550.0
343.0
396.0
550.0
344.0
536.0
607.0
426.0
591.0
627.0
346.0
371.0
447.0
267.0
749.0
596.0
202.0
358.0
284.0
450.0
290.0
919.0
289.0
241.0
475.0
1273.0
365.0
302.0
435.0
343.0
433.0
223.0
380.0
473.0
437.0
310.0
626.0
485.0
479.0
326.0
280.0
399.0
302.0
467.0
371.0
167.0
560.0
354.0
388.0
709.0
269.0
267.0
469.0
870.0
322.0
1058.0
320.0
684.0
540.0
295.0
369.0
435.0
779.0
199.0
410.0
236.0
381.0
131.0
243.0
319.0
548.0
209.0
334.0
336.0
603.0
399.0
360.0
327.0
262.0
311.0
360.0
280.0
333.0
286.0
331.0
380.0
373.0
1093.0
370.0
347.0
333.0
737.0
1088.0
390.0
381.0
367.0
418.0
554.0
971.0
432.0
561.0
423.0
597.0
296.0
279.0
469.0
667.0
0.0
931.0
391.0
539.0
355.0
613.0
456.0
281.0
807.0
496.0
471.0
370.0
973.0
378.0
507.0
612.0
292.0
381.0
460.0
277.0
416.0
243.0
566.0
549.0
217.0
694.0
598.0
350.0
905.0
333.0
315.0
444.0
324.0
537.0
442.0
259.0
351.0
473.0
408.0
375.0
311.0
506.0
412.0
476.0
811.0
436.0
346.0
505.0
391.0
345.0
828.0
0.0
414.0
279.0
653.0
434.0
758.0
724.0
294.0
410.0
496.0
473.0
478.0
328.0
265.0
253.0
365.0
323.0
462.0
371.0
438.0
485.0
673.0
385.0
867.0
326.0
267.0
304.0
353.0
496.0
472.0
636.0
643.0
987.0
392.0
324.0
316.0
209.0
315.0
468.0
182.0
752.0
399.0
555.0
438.0
876.0
325.0
288.0
610.0
1282.0
312.0
356.0
762.0
408.0
262.0
373.0
338.0
233.0
361.0
258.0
430.0
222.0
615.0
525.0
896.0
571.0
561.0
405.0
413.0
338.0
354.0
0.0
434.0
393.0
451.0
552.0
390.0
305.0
687.0
268.0
284.0
947.0
636.0
470.0
674.0
254.0
852.0
352.0
578.0
528.0
349.0
482.0
447.0
487.0
293.0
526.0
493.0
416.0
596.0
423.0
252.0
317.0
286.0
291.0
406.0
295.0
314.0
0.0
408.0
432.0
597.0
384.0
580.0
513.0
486.0
827.0
331.0
400.0
447.0
500.0
704.0
348.0
369.0
492.0
168.0
476.0
272.0
586.0
284.0
657.0
329.0
460.0
482.0
383.0
428.0
372.0
592.0
458.0
501.0
487.0
676.0
517.0
322.0
442.0
220.0
352.0
463.0
301.0
0.0
730.0
329.0
287.0
343.0
619.0
352.0
463.0
261.0
463.0
349.0
598.0
492.0
334.0
205.0
363.0
429.0
433.0
492.0
655.0
517.0
424.0
214.0
519.0
373.0
791.0
364.0
464.0
262.0
664.0
472.0
657.0
370.0
445.0
226.0
321.0
449.0
424.0
458.0
503.0
442.0
301.0
516.0
475.0
325.0
502.0
619.0
309.0
320.0
334.0
832.0
485.0
311.0
298.0
396.0
466.0
299.0
600.0
493.0
258.0
348.0
463.0
370.0
353.0
235.0
776.0
163.0
446.0
431.0
329.0
725.0
454.0
666.0
507.0
458.0
352.0
539.0
659.0
351.0
526.0
568.0
272.0
270.0
356.0
362.0
393.0
338.0
303.0
444.0
155.0
459.0
271.0
359.0
374.0
423.0
406.0
362.0
441.0
431.0
493.0
506.0
629.0
749.0
470.0
381.0
742.0
436.0
388.0
462.0
233.0
819.0
531.0
405.0
502.0
533.0
227.0
362.0
461.0
513.0
606.0
267.0
708.0
624.0
511.0
340.0
429.0
568.0
519.0
753.0
271.0
435.0
350.0
719.0
365.0
427.0
430.0
409.0
603.0
397.0
256.0
378.0
528.0
609.0
603.0
545.0
0.0
319.0
372.0
196.0
295.0
301.0
529.0
261.0
480.0
272.0
399.0
951.0
711.0
504.0
503.0
402.0
303.0
759.0
446.0
315.0
307.0
736.0
409.0
528.0
738.0
454.0
561.0
272.0
411.0
292.0
515.0
308.0
503.0
435.0
589.0
383.0
460.0
636.0
449.0
1089.0
253.0
1108.0
648.0
500.0
630.0
362.0
610.0
308.0
516.0
290.0
388.0
453.0
1047.0
551.0
376.0
363.0
507.0
470.0
207.0
289.0
306.0
459.0
497.0
594.0
272.0
558.0
652.0
351.0
449.0
391.0
310.0
266.0
357.0
599.0
368.0
617.0
374.0
345.0
411.0
293.0
457.0
299.0
436.0
0.0
633.0
372.0
553.0
430.0
213.0
655.0
498.0
287.0
383.0
402.0
350.0
213.0
539.0
269.0
322.0
462.0
374.0
384.0
325.0
665.0
369.0
495.0
297.0
386.0
618.0
626.0
417.0
360.0
505.0
258.0
376.0
642.0
284.0
439.0
517.0
332.0
420.0
874.0
588.0
509.0
771.0
300.0
350.0
242.0
319.0
421.0
320.0
299.0
303.0
329.0
401.0
440.0
515.0
649.0
182.0
371.0
400.0
398.0
220.0
350.0
593.0
396.0
481.0
384.0
510.0
306.0
483.0
639.0
575.0
549.0
617.0
485.0
336.0
835.0
417.0
652.0
359.0
1013.0
592.0
264.0
317.0
448.0
669.0
237.0
472.0
1068.0
370.0
538.0
378.0
311.0
317.0
296.0
440.0
276.0
597.0
351.0
491.0
713.0
313.0
723.0
270.0
193.0
599.0
372.0
680.0
324.0
444.0
0.0
149.0
706.0
482.0
458.0
628.0
626.0
461.0
651.0
446.0
478.0
356.0
759.0
286.0
437.0
382.0
347.0
358.0
534.0
488.0
218.0
879.0
542.0
328.0
795.0
518.0
377.0
559.0
623.0
347.0
508.0
316.0
472.0
251.0
485.0
481.0
394.0
607.0
508.0
1078.0
561.0
343.0
231.0
236.0
354.0
580.0
386.0
233.0
130.0
421.0
398.0
439.0
452.0
658.0
280.0
332.0
453.0
858.0
420.0
622.0
393.0
512.0
237.0
343.0
542.0
335.0
377.0
348.0
652.0
274.0
571.0
628.0
500.0
377.0
401.0
384.0
381.0
618.0
512.0
397.0
225.0
795.0
396.0
544.0
319.0
442.0
297.0
357.0
410.0
424.0
734.0
381.0
364.0
360.0
404.0
235.0
535.0
842.0
331.0
569.0
386.0
580.0
196.0
510.0
394.0
306.0
357.0
353.0
330.0
284.0
487.0
477.0
448.0
302.0
523.0
493.0
438.0
284.0
389.0
292.0
776.0
253.0
309.0
292.0
488.0
251.0
416.0
320.0
453.0
251.0
372.0
253.0
523.0
864.0
267.0
386.0
544.0
265.0
724.0
451.0
217.0
1331.0
438.0
831.0
692.0
399.0
409.0
373.0
203.0
270.0
366.0
344.0
663.0
307.0
573.0
481.0
422.0
341.0
464.0
351.0
595.0
557.0
320.0
471.0
390.0
475.0
403.0
399.0
536.0
333.0
278.0
717.0
271.0
262.0
1065.0
465.0
421.0
493.0
251.0
324.0
277.0
754.0
347.0
362.0
430.0
604.0
664.0
454.0
420.0
374.0
732.0
347.0
300.0
387.0
516.0
779.0
296.0
569.0
349.0
304.0
269.0
554.0
257.0
456.0
987.0
560.0
508.0
271.0
191.0
705.0
0.0
500.0
615.0
379.0
469.0
318.0
300.0
473.0
543.0
487.0
563.0
766.0
289.0
278.0
930.0
298.0
412.0
464.0
503.0
691.0
387.0
340.0
641.0
347.0
298.0
632.0
551.0
299.0
348.0
445.0
634.0
304.0
844.0
612.0
463.0
460.0
571.0
655.0
326.0
453.0
457.0
537.0
413.0
373.0
516.0
858.0
288.0
321.0
472.0
356.0
260.0
253.0
412.0
1114.0
235.0
484.0
588.0
228.0
327.0
413.0
565.0
536.0
354.0
544.0
415.0
493.0
484.0
664.0
608.0
570.0
326.0
316.0
1093.0
674.0
399.0
232.0
437.0
213.0
322.0
343.0
529.0
491.0
420.0
247.0
413.0
529.0
300.0
417.0
454.0
438.0
335.0
289.0
333.0
386.0
244.0
246.0
408.0
671.0
491.0
308.0
648.0
407.0
254.0
673.0
329.0
463.0
295.0
294.0
491.0
304.0
382.0
449.0
419.0
332.0
376.0
424.0
399.0
340.0
317.0
745.0
372.0
216.0
841.0
414.0
464.0
229.0
319.0
239.0
473.0
430.0
413.0
303.0
391.0
354.0
662.0
313.0
470.0
539.0
664.0
344.0
861.0
721.0
931.0
417.0
653.0
369.0
871.0
439.0
407.0
352.0
395.0
471.0
489.0
659.0
456.0
388.0
448.0
455.0
947.0
421.0
427.0
541.0
362.0
456.0
634.0
435.0
351.0
369.0
326.0
413.0
346.0
389.0
474.0
450.0
312.0
357.0
466.0
315.0
282.0
584.0
263.0
422.0
374.0
490.0
535.0
344.0
987.0
439.0
529.0
566.0
276.0
636.0
457.0
167.0
484.0
551.0
390.0
374.0
561.0
423.0
404.0
829.0
304.0
254.0
463.0
303.0
608.0
745.0
488.0
304.0
295.0
391.0
278.0
321.0
343.0
459.0
711.0
443.0
359.0
371.0
362.0
386.0
519.0
364.0
297.0
306.0
575.0
482.0
408.0
621.0
260.0
579.0
291.0
388.0
342.0
514.0
829.0
313.0
283.0
241.0
305.0
393.0
331.0
338.0
225.0
221.0
419.0
228.0
826.0
364.0
178.0
508.0
321.0
408.0
405.0
762.0
655.0
406.0
447.0
388.0
266.0
567.0
776.0
438.0
291.0
342.0
279.0
564.0
393.0
226.0
264.0
496.0
308.0
439.0
817.0
525.0
383.0
464.0
381.0
315.0
761.0
452.0
590.0
514.0
240.0
276.0
412.0
525.0
470.0
393.0
649.0
744.0
510.0
229.0
265.0
401.0
661.0
212.0
493.0
382.0
519.0
552.0
663.0
456.0
493.0
348.0
396.0
412.0
832.0
500.0
1093.0
331.0
572.0
437.0
616.0
327.0
502.0
441.0
320.0
471.0
511.0
761.0
444.0
530.0
688.0
349.0
272.0
371.0
325.0
655.0
231.0
302.0
321.0
377.0
528.0
338.0
537.0
394.0
267.0
207.0
329.0
283.0
645.0
756.0
574.0
0.0
329.0
492.0
325.0
276.0
1228.0
238.0
326.0
347.0
186.0
534.0
476.0
711.0
201.0
648.0
303.0
408.0
468.0
289.0
285.0
268.0
410.0
566.0
520.0
313.0
511.0
547.0
540.0
350.0
283.0
415.0
261.0
433.0
278.0
455.0
340.0
643.0
437.0
440.0
624.0
526.0
249.0
523.0
681.0
744.0
667.0
339.0
393.0
340.0
697.0
289.0
398.0
301.0
241.0
249.0
409.0
316.0
289.0
426.0
209.0
565.0
807.0
725.0
394.0
341.0
692.0
476.0
317.0
373.0
463.0
551.0
435.0
356.0
303.0
309.0
0.0
845.0
286.0
323.0
406.0
329.0
363.0
261.0
394.0
746.0
216.0
454.0
352.0
373.0
649.0
1051.0
295.0
388.0
362.0
306.0
430.0
309.0
435.0
339.0
431.0
417.0
418.0
306.0
981.0
713.0
224.0
350.0
291.0
357.0
386.0
588.0
599.0
343.0
377.0
595.0
525.0
435.0
396.0
306.0
331.0
513.0
409.0
378.0
483.0
331.0
603.0
502.0
0.0
461.0
618.0
221.0
251.0
363.0
350.0
331.0
455.0
611.0
574.0
398.0
436.0
365.0
411.0
245.0
340.0
432.0
672.0
370.0
375.0
322.0
447.0
343.0
337.0
276.0
313.0
249.0
380.0
378.0
542.0
487.0
196.0
441.0
414.0
340.0
1078.0
772.0
256.0
402.0
323.0
225.0
989.0
412.0
614.0
240.0
604.0
205.0
594.0
608.0
630.0
356.0
290.0
321.0
335.0
361.0
420.0
397.0
472.0
254.0
733.0
412.0
431.0
725.0
439.0
295.0
494.0
455.0
257.0
545.0
481.0
339.0
360.0
252.0
474.0
423.0
446.0
529.0
223.0
660.0
248.0
403.0
359.0
612.0
419.0
578.0
423.0
574.0
711.0
197.0
635.0
553.0
360.0
285.0
595.0
279.0
399.0
318.0
434.0
335.0
250.0
292.0
717.0
608.0
213.0
343.0
383.0
297.0
325.0
430.0
405.0
568.0
316.0
520.0
345.0
298.0
292.0
348.0
324.0
757.0
377.0
368.0
283.0
577.0
671.0
451.0
658.0